<!-- cooling-only -->
<mat-card fxFlex="39" fxFlex.sm="80" fxFlex.xs="100" class="rc-card-home" routerLink="cooling-only">
    <div class="rc-card-home-icon" fxLayout fxLayoutAlign="center center">
      <mat-icon>discount_icon</mat-icon>
    </div>
    <mat-card-title>Cooling only</mat-card-title>
</mat-card>

<!-- furnace-only-install -->
<mat-card fxFlex="39" fxFlex.sm="80" fxFlex.xs="100" class="rc-card-home" routerLink="furnace-only-install">
    <div class="rc-card-home-icon" fxLayout fxLayoutAlign="center center">
      <mat-icon>discount_icon</mat-icon>
    </div>
    <mat-card-title>Furnace only installations</mat-card-title>
</mat-card>

<!-- know-model-nbr -->
<mat-card fxFlex="39" fxFlex.sm="80" fxFlex.xs="100" class="rc-card-home" routerLink="know-model-nbr">
    <div class="rc-card-home-icon" fxLayout fxLayoutAlign="center center">
      <mat-icon>discount_icon</mat-icon>
    </div>
    <mat-card-title>I know my model</mat-card-title>
</mat-card>

<!-- exis-non-ECM-furnace -->
<mat-card fxFlex="39" fxFlex.sm="80" fxFlex.xs="100" class="rc-card-home" routerLink="exis-non-ECM-furnace">
    <div class="rc-card-home-icon" fxLayout fxLayoutAlign="center center">
      <mat-icon>discount_icon</mat-icon>
    </div>
    <mat-card-title>Existing or non-ECM furnace instalation</mat-card-title>
</mat-card>

<!-- heating-cooling -->
<mat-card fxFlex="39" fxFlex.sm="80" fxFlex.xs="100" class="rc-card-home" routerLink="heating-cooling">
    <div class="rc-card-home-icon" fxLayout fxLayoutAlign="center center">
      <mat-icon>discount_icon</mat-icon>
    </div>
    <mat-card-title>Heating and cooling</mat-card-title>
</mat-card>
