
<div fxLayout="row column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
  
  <!-- heating-cooling -->
  <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
    <mat-card class="rc-card h-ahri" routerLink="heating-cooling">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <mat-icon>brightness_6</mat-icon>
      </div>
      <mat-card-title>Heating and cooling</mat-card-title>
    </mat-card>
  </div>

  <!-- cooling-only -->
  <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
    <mat-card class="rc-card h-ahri" routerLink="cooling-only">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <mat-icon>ac_unit</mat-icon>
      </div>
      <mat-card-title>Cooling only</mat-card-title>
    </mat-card>
  </div> 

  <!-- furnace-only-install -->
  <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
    <mat-card class="rc-card h-ahri" routerLink="furnace-only-install">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <mat-icon>inbox</mat-icon>
      </div>
      <mat-card-title>Furnace only installations</mat-card-title>
    </mat-card>
  </div>

  <!-- exis-non-ECM-furnace -->
  <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
    <mat-card class="rc-card h-ahri" routerLink="exis-non-ECM-furnace">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <mat-icon>inbox</mat-icon>
      </div>
      <mat-card-title>Existing or non-ECM furnace instalation</mat-card-title>
    </mat-card>
  </div>

  <!-- know-model-nbr -->
  <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
    <mat-card class="rc-card h-ahri" routerLink="know-model-nbr">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <mat-icon>highlight</mat-icon>
      </div>
      <mat-card-title>I know my model</mat-card-title>
    </mat-card>
  </div>
</div>
