<div fxLayout="row column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
  
  <!-- heating-cooling -->
  <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
    <div class="rc-card line" routerLink="heating-cooling" fxLayout="column" fxLayoutAlign="center center">
      <div class="icon" fxLayout fxLayoutAlign="center center" fxFlex="100">
        <img src="../../../../assets/images/icons/heating-and-cooling.png" class="unchecked" alt="">
        <img src="../../../../assets/images/icons/heating-and-cooling-active.png" class="checked" alt="">
      </div>
      <p fxFlex="100">Heating and cooling</p>
    </div>
  </div>

  <!-- cooling-only -->
  <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
    <div class="rc-card line" routerLink="cooling-only" fxLayout="column" fxLayoutAlign="center center">
      <div class="icon" fxLayout fxLayoutAlign="center center" fxFlex="100">
        <img src="../../../../assets/images/icons/cooling-only.png" class="unchecked" alt="">
        <img src="../../../../assets/images/icons/cooling-only-active.png" class="checked" alt="">
      </div>
      <p fxFlex="100">Cooling only</p>
    </div>
  </div> 

  <!-- exis-non-ECM-furnace -->
  <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
    <div class="rc-card line" routerLink="exis-non-ECM-furnace" fxLayout="column" fxLayoutAlign="center center">
      <div class="icon" fxLayout fxLayoutAlign="center center" fxFlex="100">
        <img src="../../../../assets/images/icons/ecm-furnace-instalation.png" class="unchecked" alt="">
        <img src="../../../../assets/images/icons/ecm-furnace-instalation-active.png" class="checked" alt="">
      </div>
      <p fxFlex="100">Existing or non-ECM furnace instalation</p>
    </div>
  </div>

  <!-- know-model-nbr -->
  <!-- <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
    <mat-card class="rc-card h-ahri" routerLink="know-model-nbr">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <mat-icon>highlight</mat-icon>
      </div>
      <mat-card-title>I know my model</mat-card-title>
    </mat-card>
  </div> -->

</div>