<h2 class="rc-main-title">HVAC System Detail</h2>

<div fxLayout="row colum" fxLayoutAlign="center" class="rc-hvac-detail">
  <div fxFlex="35" fxFlex.sm="100" fxFlex.xs="100">
    <h2>SKUS</h2>
    <div>
      <span><b>Outdoor unit: </b></span>
      {{detail?.outdoorUnitSKU}}
    </div>
    <div>
      <span><b>Indoor unit: </b></span>
      {{detail?.indoorUnitSKU}}
    </div>
    <div>
      <span><b>Furnace: </b></span>
      {{detail?.furnaceSKU}}
    </div>
    <h2>AHRI References</h2>
    <ul class="rc-list-details">
      <li *ngFor="let ahri_ref of detail?.AHRIReferences">{{ahri_ref}}</li>
    </ul>

  </div>
  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
    <div class="letter">
      <h3>AHRI Ratings</h3>
      <div>
            <span><b>Cooling capacity: </b></span>
            {{detail?.coolingCapacityRated}}
      </div>
      <div>
            <span><b>SEER: </b></span>
            {{detail?.SEER}}
      </div>
      <div>
            <span><b>EER: </b></span>
            {{detail?.EER}}
      </div>
      <div>
            <span><b>HSPF: </b></span>
            {{detail?.HSPF}}
      </div>
      <div>
            <span><b>HCap 47: </b></span>
            {{detail?.Hcap47}}
      </div>
      <div>
            <span><b>HCap 17: </b></span>
            {{detail?.Hcap17}}
      </div>
      <div>
            <span><b>AFUE: </b></span>
            {{detail?.AFUE}}
      </div>
      <div>
            <span><b>Input BTUH: </b></span>
            {{detail?.furnaceInputBTUH}}
      </div>
      <div>
            <span><b>Output BTUH: </b></span>
            {{detail?.furnaceOutputBTUH}}
      </div>
     </div>
  </div>
</div>

<div *ngIf="detail?.availableRebates?.length > 0">
  <h2 class="rc-main-title">Available Rebates</h2>
  <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
    <div *ngFor="let reb of detail?.availableRebates" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100" >
      <mat-card class="rc-available-rebates">
        <mat-card-title>{{reb.rebateTitle}} <span *ngIf="reb.rebateTierTitle !='Default'">({{reb.rebateTierTitle}})</span></mat-card-title>
        <mat-card-content>
          <div fxLayout="row column" fxLayoutAlign="center stretch" >
            <div fxLayout fxFlex="55"  fxFlex.sm="55" fxFlex.xs="100" fxLayoutAlign="center center" class="price">
              <div>
                <span>Up to</span>
                <h1> {{reb.amount}}</h1>
              </div>
            </div>
            <div fxFlex="45"  fxFlex.sm="45" fxFlex.xs="100" fxLayoutAlign="center center"  class="description">
              <p *ngIf="reb.description == ''">No description yet.</p>
              <p *ngIf="reb.description != ''">{{reb.description}}</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
            <div fxLayout fxLayoutAlign="end center" >
                <button type="button" mat-raised-button color="primary" [disabled]="reb.link == ''">
                  <mat-icon>download</mat-icon>Download form
                </button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>