<form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <mat-stepper linear #stepper  >

       <!-- Step 1 -->
       <mat-step formGroupName="nominalSize" [stepControl]="formGroup?.get('nominalSize')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Equipment Size</h2>
          <!-- User input -->
          <div class="rc-column">

            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Cooling tons</mat-label>
              <input matInput placeholder="Cooling tons" required type="number"  formControlName="coolingTons" >
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label> Heating BTUH</mat-label>
              <input matInput placeholder="Heating BTUH" required type="number" formControlName="heatingBTUH" >
            </mat-form-field>

            <!-- button -->
             <!-- button -->
             <div class="nkn-space-between nkn-mt-medium">
                <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
            </div> 
          </div>
        </div>
       </mat-step>
      <!-- Step 1 end  -->

      <!-- Step 2 -->
      <mat-step [stepControl]="formGroup?.get('fuelSource')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Furnace </ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Furnace</h2>
          <!-- User input -->
          <div class="rc-column">
            
            <!-- radio button -->
            <mat-label>Furnace Fuel</mat-label>
            <mat-radio-group #rGroup  formControlName="fuelSource" class="rc-radio-group">
              <mat-radio-button [value]="'Natural Gas'" radioGroup="rGroup">Natural Gas</mat-radio-button>
              <mat-radio-button [value]="'Propane'" radioGroup="rGroup">Propane</mat-radio-button>
              <mat-radio-button [value]="'Heating Oil'" radioGroup="rGroup">Heating Oil</mat-radio-button>
              <mat-radio-button [value]="'None'" radioGroup="rGroup">None</mat-radio-button>
            </mat-radio-group>

            <!-- button -->
            <div class="nkn-space-between nkn-mt-medium">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="submit"  mat-raised-button matStepperNext color="primary">Continue</button>
            </div> 
          </div>
        </div>
      </mat-step>
      <!-- Step 2 end -->

      <!-- results -->
      <mat-step>
        
        <ng-template matStepLabel>AHRI Combinations</ng-template>

        <h2 class="rc-main-title">AHRI Combinations</h2>

        <!-- product line -->
        <mat-radio-group aria-label="Select an option" class="example-radio-group">
          <mat-radio-button *ngFor="let productLine of productLines; let idx = index" 
                            [checked]="(idx === 0)" 
                            [value]="productLine.id" 
                            (click)="submitProductLine(productLine.id)"> 
            {{productLine.title}}
          </mat-radio-button>
        </mat-radio-group>

        <!-- table -->
        <!-- <app-results [data]="data"></app-results> -->

      </mat-step>
      <!-- results end -->

    </mat-stepper>

  </form>
