<h2 class="rc-main-title">HVAC System Detail</h2>
<mat-card class="rc-card detail">
  <div fxLayout="row column">
    <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="rc-details-model-nrs">
      <div fxLayout fxLayoutAlign="center center" >
        <div fxFlex="80">
          <!-- Start SKUS-->
          <div class="rc-card-detail-title">
            <h2>SKUS</h2>
          </div>            
          <div class="rc-card-detail-body">
            <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
              <div fxFlex.xs="100" fxLayoutAlign="start">
                <b>Outdoor unit:</b>                  
              </div>
              <div fxFlex.xs="100" fxLayoutAlign="start">
                {{detail?.outdoorUnitSKU}}
              </div>
            </div>
      
            <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
              <div fxFlex.xs="100" fxLayoutAlign="start">
                <b>Indoor unit:</b>                  
              </div>
              <div fxFlex.xs="100" fxLayoutAlign="start">
                {{detail?.indoorUnitSKU}}
              </div>
            </div>
      
            <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
              <div fxFlex.xs="100" fxLayoutAlign="start">
                <b>Furnace:</b>                  
              </div>
              <div fxFlex.xs="100" fxLayoutAlign="start">
                {{detail?.furnaceSKU || "-" }}
              </div>
            </div>
          </div>
          <!-- start SKUS-->
          <!-- Start AHRI References-->
          <div class="rc-card-detail-title">
            <h2>AHRI References</h2>
          </div>          
          <div class="rc-card-detail-body">
            <ul class="rc-list-details">
              <li *ngFor="let ahri_ref of detail?.AHRIReferences">{{ahri_ref}}</li>
            </ul>
          </div>
          <!-- start AHRI References-->
        </div>

      </div>
    </div>
    <div fxFlex="50"  fxFlex.sm="100" fxFlex.xs="100">
      <div fxLayout fxLayoutAlign="center center" >
        <div fxFlex="80">
          <div class="rc-detail-ahri-rating">
            <!--AHRI Ratings-->
            <div class="rc-detail-ahri-rating-title">
              <h3>AHRI Ratings</h3>
            </div>
            <div class="rc-detail-ahri-rating-body">
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>Cooling capacity:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.coolingCapacityRated | number}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>SEER:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.SEER}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>EER:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.EER}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>HSPF:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.HSPF}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>HCap 47:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.Hcap47 | number}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>HCap 17:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.Hcap17 | number}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>AFUE:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.AFUE}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>Input BTUH:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.furnaceInputBTUH | number}}
                </div>
              </div>
      
              <div fxLayout fxLayoutGap="16px grid" class="rc-detail-list-info">
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  <b>Output BTUH:</b>                  
                </div>
                <div fxFlex.xs="100" fxLayoutAlign="start">
                  {{detail?.furnaceOutputBTUH | number}}
                </div>
              </div>
            </div>
  
            <!-- Start Configuration -->
            <div *ngIf="detail?.furnaceConfigurations && detail?.furnaceConfigurations.length > 0">
              <div class="rc-detail-ahri-rating-title">
                <h3>Configuration</h3>
              </div>
              <div class="rc-detail-ahri-rating-body">
                <ul>
                  <li *ngFor="let configuration of detail?.furnaceConfigurations">{{configuration}}</li>
                </ul>
              </div>
            </div>
            <!-- start Configuration -->     
          </div>  
        </div>
      </div>
    </div>  
  </div>   
</mat-card>

<!--Available Rebates-->
<div *ngIf="existRebate">
  <h2 class="rc-page-subtitle">Available Rebates</h2>
  <div fxLayout="row column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid" fxLayoutGap.sm="8" fxLayoutGap.xs="8">
      <mat-card *ngFor="let reb of rebate" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100" class="rc-detail-available-rebates">
        <mat-card-title>
          <h5>
            {{reb.rebateTitle}} 
            <span *ngIf="reb.rebateTierTitle !='Default'">
              {{reb.rebateTierTitle}}
            </span>
          </h5>              
        </mat-card-title>
        
        <mat-card-content>
          <div class="description">
            <p *ngIf="reb.description == ''">No description yet.</p>
            <p *ngIf="reb.description != ''">{{reb.description}}</p>
          </div>
          
          <div fxLayout="row column" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" *ngIf="existLink">
              <ul class="link-list">
                <li *ngFor="let link of reb.links">
                  <a target="_blank" (click)="onNavigate(link.url)">
                    <mat-icon>link</mat-icon> {{link.title}}
                  </a>
                </li>
              </ul>
            </div>
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
              <div fxLayout fxLayoutAlign="end end" class="price-content">
                <div class="price">
                  <h5 class="rc-small">UP TO</h5>
                  <h1>{{reb.amount | currency:"USD":"symbol" : '1.0-0'}}</h1>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div>
