<h2 class="rc-main-title">HVAC System Detail</h2>
<div *ngFor="let detail of detailR">
  <mat-card class="rc-card detail" >
    <div fxLayout="row column" fxLayoutGap="16px Grid">
      <!-- skus -->
      <div fxFlex="30" fxFlex.sm="81" fxFlex.xs="80">
        <div class="part">
          <div class="title">
            <div class="decoration"></div>
            <h4 class="text">SKUS</h4>
          </div>
          <div *ngFor="let unit of detail.components">
            <div class="content-detail" >              
              <div class="group-content" *ngIf="unit.type =='outdoorUnit'">
                <p class="rc-small">Outdoor Unit</p>
                <p class="data">{{unit.SKU}}</p>
              </div>
              <div class="group-content" *ngIf="unit.type =='indoorUnit'">
                <p class="rc-small">Indoor Unit</p>
                <p class="data">{{unit.SKU}}</p>
              </div>
              <div class="group-content" *ngIf="unit.type =='furnace'">
                <p class="rc-small">Furnace</p>
                <p class="data">{{unit.SKU}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- AHRI References -->
      <div fxFlex="30" fxFlex.sm="80" fxFlex.xs="80">
        <div class="part">
          <div class="title">
            <div class="decoration"></div>
            <h4 class="text">AHRI References</h4>
          </div>
          <div class="content-detail">
            <div class="group-content">
              <p class="rc-small">List of AHRI References</p>
              <ul class="rc-list-details">
                <li *ngFor="let ahri_ref of detail.AHRIReferences">
                  {{ahri_ref}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- AHRI Ratings -->
      <div fxFlex="40" fxFlex.sm="100" fxFlex.xs="100">
        <div class="part">
          <div class="title">
            <div class="decoration"></div> 
            <h4 class="text">AHRI Ratings</h4>
          </div>
          <div class="content-detail">
            <div fxLayout="row column" fxLayoutGap="8px grid">
              <div fxFlex="33" fxFlex.sm="33" fxFlex.xs="50">
                <div class="group-content">
                  <p class="rc-small">Cooling capacity</p>
                  <p class="data">{{detail.coolingCapacityRated | number}}</p>
                </div>
                <div class="group-content">
                  <p class="rc-small">SEER</p>
                  <p class="data">{{detail.SEER || "-" }}</p>
                </div>
                <div class="group-content">
                  <p class="rc-small">EER</p>
                  <p class="data">{{detail.EER || "-" }}</p>
                </div>
              </div>
              <div fxFlex="33" fxFlex.sm="33" fxFlex.xs="50">
                <div class="group-content">
                  <p class="rc-small">HSPF</p>
                  <p class="data">{{detail.HSPF || "-" }}</p>
                </div>
                <div class="group-content">
                  <p class="rc-small">HCap 47</p>
                  <p class="data">{{detail.Hcap47 | number}}</p>
                </div>
                <div class="group-content">
                  <p class="rc-small">HCap 17</p>
                  <p class="data">{{detail.Hcap17 | number}}</p>
                </div>
              </div>
              <div fxFlex="33" fxFlex.sm="33" fxFlex.xs="50">
                <div class="group-content">
                  <p class="rc-small">AFUE</p>
                  <p class="data">{{detail.AFUE || "-" }}</p>
                </div>
                <div class="group-content">
                  <p class="rc-small">Input BTUH</p>
                  <p class="data">{{detail.furnaceInputBTUH | number}}</p>
                </div>
                <div class="group-content">
                  <p class="rc-small">Output BTUH</p>
                  <p class="data">{{detail.furnaceOutputBTUH | number}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Available Rebates-->
    <!-- If Rebates -->
    <mat-card-footer *ngIf="detail.availableRebates !=null">
      <div class="part">
        <div class="title">
          <div class="decoration"></div>
          <h4 class="text">Available Rebates</h4>
        </div>
        <mat-accordion multi >
          <mat-expansion-panel *ngFor="let reb of detail.availableRebates">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div fxLayout fxLayoutAlign="center" fxLayoutGap="8px">
                  <div fxFlex="50">
                    <h4>
                      {{reb.rebateTitle}}
                      <span class="span-title" *ngIf="reb.rebateTierTitle !='Default'"> - {{reb.rebateTierTitle}}</span>
                    </h4>
                  </div>
                  <div fxFlex="50" class="price" fxLayout fxLayoutAlign="end">
                    <h4>{{reb.amount | currency:"USD":"symbol" : '1.0-0'}}</h4>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="available-rebates">
              <!--<p class="description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores amet id, architecto repellat veniam, beatae sunt sapiente cum voluptate vero. Illum quas voluptatibus ab. Nihil, recusandae. Illo, dolorem error!
              </p>-->
              <div fxLayout="row column" fxLayoutGap="8px grid">
                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                  <ul class="link-list">
                    <li *ngFor="let link of reb.links">
                      <a target="_blank" (click)="onNavigate(link.url)">
                        <mat-icon>link</mat-icon> {{link.title|json}}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-footer>
  <!-- </div> -->
  </mat-card>
</div>
<br/>

<!--accesories-->
<!-- <div *ngIf="existAcc">
  <h2 class="rc-page-subtitle">Accesories</h2>
  <div fxLayout="row column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid" fxLayoutGap.sm="8" fxLayoutGap.xs="8">
      <mat-card *ngFor="let acc of accesorie" fxFlex="48" fxFlex.sm="100" fxFlex.xs="100" class="rc-detail-available-rebates">
        <mat-card-title>
          <h5>
            {{acc.title}} 
          </h5>
        </mat-card-title>
        
        <mat-card-content>          
          <div fxLayout="row column" fxLayoutGap="8px grid">
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
              <div fxLayout fxLayoutAlign="end end" class="price-content">
                <div class="price">
                  <h1>{{acc.amount | currency:"USD":"symbol" : '1.0-0'}}</h1>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
</div> -->