<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
    <mat-stepper linear #stepper >
      <!-- Step 1 -->
      <mat-step  errorMessage="Model Numbers is required." formGroupName="model_numbers" [stepControl]="formGroup?.get('model_numbers')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Model Numbers</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Model Numbers</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- selects -->
            <mat-form-field appearance="fill"  >
              <mat-label>Outdoor unit</mat-label>
              <mat-select  #sGroup formControlName="outdoor_unitCtrl">
                  <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                  <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                  <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                  <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-divider class="nkn-py-small"></mat-divider>
            <mat-form-field appearance="fill"  >
              <mat-label>Inddor Unit</mat-label>
              <mat-select  #sGroup formControlName="indoor_unitCtrl">
                  <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                  <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                  <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                  <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- radio button -->
            <mat-label>Replace / Displace fuel</mat-label>
            <mat-radio-group #rGroup formControlName="replace_displace_fuelCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'oil'" radioGroup="rGroup">Oil</mat-radio-button>  <br>
              <mat-radio-button [value]="'propane'" radioGroup="rGroup">propane</mat-radio-button> <br>
              <mat-radio-button [value]="'electric heat'" radioGroup="rGroup">Electric Heat</mat-radio-button>  <br>
              <mat-radio-button [value]="'existing or n/a'" radioGroup="rGroup">Existing or N/A</mat-radio-button>
            </mat-radio-group>
            <mat-divider class="nkn-py-small"></mat-divider>

            <!-- selects -->
            <mat-form-field appearance="fill"  >
              <mat-label>Furnace</mat-label>
              <mat-select  #sGroup formControlName="furnaceCtrl">
                  <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                  <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                  <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                  <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-checkbox class="nkn-my-medium">Existing or Non-ECM</mat-checkbox>
            <mat-label>Fuel (If applicable)</mat-label>
            <mat-radio-group #rGroup formControlName="fuelCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'natural gas'" radioGroup="rGroup">Natural Gas</mat-radio-button>  <br>
              <mat-radio-button [value]="'propane'" radioGroup="rGroup">propane</mat-radio-button> <br>
              <mat-radio-button [value]="'oil'" radioGroup="rGroup">Oil</mat-radio-button>
            </mat-radio-group>

            <!-- button -->
            <div class="nkn-center nkn-mt-medium">
              <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 1 end -->

      <!-- Step 2 -->
      <mat-step  errorMessage="Eligibility Detail is required." formGroupName="eligibility_detail" [stepControl]="formGroup?.get('eligibility_detail')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Eligibility Details</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Eligibility Details</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- selects -->
            <mat-form-field appearance="fill"  >
              <mat-label>State</mat-label>
              <mat-select (selectionChange)="changeState_electric($event)" (selectionChange)="changeState_gas($event)" #sGroup formControlName="stateCtrl">
                  <mat-option *ngFor="let count of State" [value]="count.name" radioGroup="sGroup">
                    {{count.name}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill"  >
              <mat-label>Electric Utility Provider</mat-label>
              <mat-select  #sGroup formControlName="electric_utitlity_providerCtrl">
                <mat-option *ngFor ="let elec of electric" [value]="elec" radioGroup="sGroup">
                  {{elec}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill"  >
              <mat-label>Gas / Oil Utility</mat-label>
              <mat-select  #sGroup formControlName="gas_oil_utilityCtrl">
                <mat-option *ngFor ="let Gas of gas" [value]="Gas" radioGroup="sGroup">
                  {{Gas}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <!-- radio buttons -->
            <mat-label> Existing furnace type?</mat-label>
            <mat-radio-group #rGroup formControlName="existen_furnace_typeCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'condensing'" radioGroup="rGroup">Condensing</mat-radio-button>  <br>
              <mat-radio-button [value]="'none - condensing'" radioGroup="rGroup">None - condensing</mat-radio-button>
            </mat-radio-group>

            <mat-label> HP System is the sole source of heat?</mat-label>
            <mat-radio-group #rGroup formControlName="hpS_source_headCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'yes'" radioGroup="rGroup">Yes</mat-radio-button>  <br>
              <mat-radio-button [value]="'no'" radioGroup="rGroup">No</mat-radio-button>
            </mat-radio-group>

            <mat-label> Replace / displace fuel type?</mat-label>
            <mat-radio-group #rGroup formControlName="Replace_displace_fuel_type" class="rc-radio-group">
              <mat-radio-button [value]="'Natural gas'" radioGroup="rGroup">Natutal gas</mat-radio-button>
              <mat-radio-button [value]="'Propane'" radioGroup="rGroup">Propane</mat-radio-button>
              <mat-radio-button [value]="'Oil'" radioGroup="rGroup">Oil</mat-radio-button>
              <mat-radio-button [value]="'Electric resistance heat'" radioGroup="rGroup">Electric resistance heat</mat-radio-button>
            </mat-radio-group>

            <!-- button -->
            <div class="nkn-space-between nkn-mt-medium">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" type="submit" mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 2 end  -->

      <!-- Result -->
      <mat-step>
        <!-- Name of step -->
        <ng-template matStepLabel>AHRI Combination</ng-template>
        <section class="nkn-mb-medium">
          <h2 class="rc-main-title">SELECTED HVAC SYSTEM</h2>
          <div class="rc-content-flex">
            <mat-card class="rc-card-selected-hvac">
              <!-- <mat-card-title class="rc-card-title"></mat-card-title> -->
              <mat-card-content>
                <div class="nkn-space-between">
                  <div>Outdoor unit</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>Indoor unit</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>Furnace</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>Cooling capacity</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>SEER</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>EER</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>HSPF</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>HCap 47</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>HCap 17</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>AFUE</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>BTUH</div>
                  <div>24ANB136</div>
                </div>
                <div class="nkn-space-between">
                  <div>AHRI reference nr</div>
                  <div>24ANB136</div>
                </div>
              </mat-card-content>
            </mat-card>
            <!-- <img src="./assets/img/illustration-2.svg" alt="" class="illustration-2"> -->
          </div>
        </section>
        <section>
          <h2 class="rc-main-title">AVAILABLE REBATES</h2>
          <div class="rc-content-flex">
            <mat-card class="rc-card-rebate">
              <mat-card-title>Mass Save central AC / HP - Standard</mat-card-title>
              <mat-card-content>
                <p class="nkn-text-justify">
                  Mass Save residential central AC and Heat Pump rebate.
                  Qualifying units for equipment rebate must be purchased and installed between
                  January 1, 2021, and December 31, 2021. Applications must be postmarked by
                  January 31, 2022.
                </p>
              </mat-card-content>
              <mat-card-actions class="nkn-center">
                <button type="button" (click)="goToLink()"   mat-flat-button color="primary">
                  Download Form
                </button>
                <a href="" color="primary" class="nkn-ml-large">More info</a>
              </mat-card-actions>
            </mat-card>
          </div>
        </section>
      </mat-step>
      <!-- Result end -->

    </mat-stepper>

  </form>
