<mat-stepper #stepper linear  [orientation]="(stepperOrientation | async)!">

    <!-- Step 1 -->
    <mat-step [stepControl]="modelNumberGroup" errorMessage="Complete all fields.">
        <form [formGroup]="modelNumberGroup"  (ngSubmit)="findModel()">
        <!-- Name of step -->
        <ng-template matStepLabel>Model Numbers</ng-template>
        <h2 class="rc-main-title">Model Numbers</h2>

        <!-- Content of step -->
        <div fxLayout fxLayoutAlign="center">
            <!-- User input -->
            <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">

            <!-- input -->
            <mat-form-field appearance="fill"  >
                <mat-label>Outdoor unit</mat-label> 
                <mat-select  #sGroup formControlName="outdoorUnit">
                    <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                    <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                    <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                    <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
                </mat-select>
              </mat-form-field>
              
              
              <mat-form-field appearance="fill"  >
                <mat-label>Inddor Unit</mat-label>
                <mat-select  #sGroup formControlName="indoorUnit">
                    <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                    <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                    <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                    <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field appearance="fill"  >
                <mat-label>Furnace</mat-label>
                <mat-select  #sGroup formControlName="furnace">
                    <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                    <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                    <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                    <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
                </mat-select>
              </mat-form-field>

              
            <!-- button -->
            <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
                <button type="submit" [disabled]="modelNumberGroup.invalid" mat-raised-button color="primary" matStepperNext
                [routerLink]="['/home/detail']" [queryParams]="{skus:[] | json, ahri_refs:[] | json, params:{commerceInfo: myCommerInfo, modelNumberGroup: payload} | json}"  target="_blank">
                Continue
                <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

            </div>
        </div>
        </form>
    </mat-step>
    <!-- Step 1 end  -->

</mat-stepper>
