<mat-stepper #stepper linear  [orientation]="(stepperOrientation | async)!">

    <!-- Step 1 -->
    <mat-step [stepControl]="nominalSizeGroup" errorMessage="Complete all fields.">
        <form [formGroup]="nominalSizeGroup">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <h2 class="rc-main-title">Equipment Size</h2>

        <!-- Content of step -->
        <div fxLayout fxLayoutAlign="center">
            <!-- User input -->
            <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">

            <!-- input -->
            <mat-form-field appearance="fill">
                <mat-label>Cooling tons</mat-label>
                <input matInput placeholder="Cooling tons" type="number" formControlName="coolingTons" required>

                <!-- error -->
                <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('is_not_number')  && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons <strong>must be a number.</strong>
                </mat-error>
                <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('null_not_permit') && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons is <strong>required</strong>
                </mat-error>
                <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('need_1_or_3_characters') && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons must be <strong>between 1 and 3 digits</strong>.
                </mat-error>
                <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('CT_invalid_value') && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons must be a number <strong>between 0.5 and 5.0</strong>.
                </mat-error>
            </mat-form-field>

            <!-- button -->
            <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
                <button type="button" [disabled]="nominalSizeGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
                <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

            </div>
        </div>
        </form>
    </mat-step>
    <!-- Step 1 end  -->

    <!-- Step 2 -->
    <mat-step [stepControl]="nominalSizeGroup" errorMessage="Complete all fields.">
        <form [formGroup]="nominalSizeGroup">
        <!-- Name of step -->
        <ng-template matStepLabel>Location</ng-template>
        <h2 class="rc-main-title">Location</h2>

        <!-- Content of step -->
        <div fxLayout fxLayoutAlign="center">
            <!-- User input -->
            <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">

            <!-- input -->
            <mat-form-field appearance="fill">
                <mat-label>state</mat-label>
                <input matInput placeholder="Cooling tons" type="number" formControlName="coolingTons" required>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Electric utility provider</mat-label>
                <input matInput placeholder="Cooling tons" type="number" formControlName="coolingTons" required>
            </mat-form-field>

            <!-- button -->
            <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
                <button type="button" [disabled]="nominalSizeGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
                <mat-icon>arrow_forward</mat-icon>
                </button>
            </div>

            </div>
        </div>
        </form>
    </mat-step>
    <!-- Step 2 end -->

    <!-- esults  -->
    <mat-step>
        <ng-template matStepLabel>AHRI Combinations</ng-template>

      <h2 class="rc-main-title">AHRI Combinations</h2>
    </mat-step>
    <!-- results end -->


</mat-stepper>
