
  <mat-stepper #stepper linear  [orientation]="(stepperOrientation | async)!">

    <!-- Step 1 -->
    <mat-step [stepControl]="nominalSizeGroup" errorMessage="Complete all fields.">
      <form [formGroup]="nominalSizeGroup">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <h2 class="rc-main-title">Equipment Size</h2>

        <!-- Content of step -->
        <div fxLayout fxLayoutAlign="center">
          <!-- User input -->
          <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">

            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Cooling tons</mat-label>
              <input matInput placeholder="Cooling tons" type="number" formControlName="coolingTons" required>

              <!-- error -->
              <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('is_not_number')  && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons <strong>must be a number.</strong>
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('null_not_permit') && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('need_1_or_3_characters') && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons must be <strong> 1 or 2 digits</strong>.
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('coolingTons')?.hasError('CT_invalid_value') && nominalSizeGroup.get('coolingTons')?.touched">
                Cooling tons must be a number <strong>between 0.5 and 5.0</strong>.
              </mat-error>
            </mat-form-field>


            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Heating BTUH</mat-label>
              <input matInput placeholder="Heating BTUH" type="number" formControlName="heatingBTUH" required>
              
              <!-- error -->
              <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('is_not_number') && nominalSizeGroup.get('heatingBTUH')?.touched">
                Heating BTUH <strong>must be a number.</strong>
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('null_not_permit') && nominalSizeGroup.get('heatingBTUH')?.touched">
                Heating BTUH is <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('need_between_4_6_characters') && nominalSizeGroup.get('heatingBTUH')?.touched">
                Heating BTUH must be <strong>between 4 and 6 digits</strong>.
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('Hbtuh_invalid_value') && nominalSizeGroup.get('heatingBTUH')?.touched">               
                Heating BTUH must be a whole number <strong>between 8,000 and 135,000</strong>.
              </mat-error>
              <mat-error *ngIf="nominalSizeGroup.get('heatingBTUH')?.hasError('it_not_integer') && nominalSizeGroup.get('heatingBTUH')?.touched">
                Heating BTUH is not <strong>integer</strong>.
              </mat-error>
            </mat-form-field>

            <!-- button -->
            <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
              <button type="button" [disabled]="nominalSizeGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>

          </div>
        </div>
      </form>
    </mat-step>
    <!-- Step 1 end  -->

    <!-- Step 2 -->
    <mat-step [stepControl]="furnaceGroup" errorMessage="Select a furnace fuel.">
      <form [formGroup]="furnaceGroup" (ngSubmit)="submitForm()">
        <!-- Name of step -->
        <ng-template matStepLabel>Fossil Fuel</ng-template>
        <h2 class="rc-main-title">Fossil Fuel</h2>
        <!-- Content of step -->
        <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="32">
          <!-- User input -->
          <div fxFlex="25" fxLayout="column" fxLayoutAlign="left stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="25">
            <!-- radio button -->
            <mat-label>Select type of fossil fuel available at the residence.</mat-label>
            <mat-radio-group #rGroup formControlName="fuelSource" fxLayout="column">
              <mat-radio-button [value]="'Natural Gas'" radioGroup="rGroup">Natural Gas</mat-radio-button>
              <mat-radio-button [value]="'Propane'" radioGroup="rGroup">Propane</mat-radio-button>
              <mat-radio-button [value]="'Heating Oil'" radioGroup="rGroup">Heating Oil</mat-radio-button>
              <mat-radio-button [value]="'None'" radioGroup="rGroup">None</mat-radio-button>

              <!-- error -->
              <mat-error *ngIf="furnaceGroup.get('fuelSource')?.hasError('required') && furnaceGroup.get('fuelSource')?.touched">
                Furnace Fuel is <strong>required</strong>
              </mat-error>
            </mat-radio-group>

            <!-- button -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="rc-stepper-buttons">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="submit" [disabled]="furnaceGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>

          <!-- note -->
          <div fxLayout fxLayoutAlign="center" fxLayoutGap="16px" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" class="rc-note">
              <p class="rc-small"> <b>Note: </b> The rebate calculator will show all possible installations, including fully electric HVAC systems.
                Selecting a fossil fuel type only helps us show relevant search results but it is not required that
                a fossil fuel component (furnace, boiler) is part of the final HVAC system.</p>
            </div>
          </div>

        </div>
      </form>
    </mat-step>
    <!-- Step 2 end  -->

    <!-- results -->
    <mat-step>

      <ng-template matStepLabel>AHRI Combinations</ng-template>
      <h2 class="rc-main-title">AHRI Combinations</h2>

      <div  *ngIf="!this.noResults">

        <!-- product lines -->
        <div fxLayout="row column" fxLayoutAlign="center center" fxLayoutGap="16">
          <form [formGroup]="productLinesGroup" class="rc-radio-options">
            <mat-radio-group aria-label="Select an option" formControlName="productLine">
              <mat-radio-button *ngFor="let proLine of productLines" [value]="proLine.id" (click)="SelectProductLine(proLine.id)">{{proLine.title}}</mat-radio-button>
            </mat-radio-group>
          </form>
        </div>
        <!-- product lines end -->

        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center stretch" fxLayoutAlign.sm="center stretch" fxLayoutGap="16">
          
          <!-- filters -->
          <div fxFlex="25" fxLayout="column" fxLayoutAlign="start" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="25" class="rc-filters" fxLayoutGap.sm="16"  fxLayoutGap.xs="16">
            <h5>Filters</h5>
            <form [formGroup]="filtersGroup">
              <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="center stretch" fxLayoutAlign.sm="center stretch" fxLayoutGap="16 4">
                <mat-form-field appearance="fill" *ngFor="let filter of filters" >
                  <mat-label>{{filter.filterName}}</mat-label>
                  <select matNativeControl required (change)="SelectFilters()" [formControlName]="filter.filterName">
                    <option *ngFor="let val of filter.filterValues" [value]="val">{{val}}</option>
                    <option value="">Show all</option>
                  </select>
                </mat-form-field>
              </div>
            </form>
          </div>
          <!-- filters end -->

          <div fxFlex="75" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="75">

            <!-- data of pagination -->
            <div fxLayout fxLayoutAlign="end center">
              <span class="rc-nr-pages">{{ beginning }} - {{ end }} of  {{results?.length}}</span>
            </div>

            <!-- table -->
            <table>
              <thead>
                  <tr>
                      <th>N°</th>
                      <th>Outdoor Unit</th>
                      <th>Indoor Unit</th>
                      <th>FURNACE</th>
                      <th>SEER</th>
                      <th>EER</th>
                      <th>HSPF</th>
                      <th>AFUE</th>
                      <th>Total Rebate</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ahriCombination of results | paginate: { itemsPerPage: rows, currentPage: p } , let i=index">
                  <td data-title="n°">{{ rows * (p - 1) + i  + 1}}</td>
                  <td data-title="Outdoor unit">{{ahriCombination.outdoorUnitSKU}}</td>
                  <td data-title="Indoor unit">{{ahriCombination.indoorUnitSKU}}</td>
                  <td data-title="Furnace">{{ahriCombination.furnaceSKU}}</td>
                  <td data-title="SEER">{{ahriCombination.SEER}}</td>
                  <td data-title="EER">{{ahriCombination.EER}}</td>
                  <td data-title="HSPF">{{ahriCombination.HSPF}}</td>
                  <td data-title="AFUE">{{ahriCombination.AFUE}}</td>
                  <td data-title="Total rebate">{{ahriCombination.totalAvailableRebates}}</td>
                  <td data-title="Details">
                    <a class="rc-btn rc-btn-secondary" [routerLink]="['/home/detail']" [queryParams]="{skus:ahriCombination.SKUs | json, ahri_refs:ahriCombination.AHRIReferences| json, params:{commerceInfo: myCommerInfo, requiredRebates: payloadRebates} | json}"  target="_blank">
                    <mat-icon>search</mat-icon>
                    </a>
                  </td>
              </tr>
              <tr *ngIf="results?.length < 1">
                <td colspan ="10"></td>
              </tr>
              </tbody>
          </table>
          <!-- table end -->


          <!-- pagination -->
            <div fxLayout fxLayoutAlign="end center" class="rc-pagination">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
          </div>
          <!-- End pagination -->
          </div>
        </div>
      </div>

      <!-- message no results -->
      <div *ngIf="this.noResults">
        <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.sm="column" fxLayout.xs="column">
          <div fxFlex="80" fxFlex.sm="80" fxFlex.xs="80" class="rc-alert">
            <p>
              <span class="rc-lead">We're sorry, no results were found for your search.
              </span>
            </p>
            <div fxLayout fxLayoutAlign="end">
              <button mat-button matStepperPrevious type="button">Back</button>
            </div>

          </div>
        </div>
      </div>
      <!-- message no resultsa end -->

    </mat-step>
    <!-- results end -->

  </mat-stepper>
