<mat-stepper #stepper linear  [orientation]="(stepperOrientation | async)!">

    <!-- Step 1 State -->
    <mat-step [stepControl]="stateGroup" errorMessage="Select an state.">
      <form [formGroup]="stateGroup">
        <!-- Name of step -->
        <ng-template matStepLabel>State</ng-template>
        <h2 class="rc-main-title">State</h2>
        <!-- Content of step -->
        <!-- selects -->
        <mat-radio-group #stateIdGroup (change)="changeState()" formControlName="state"class="rc-img-rb">
          <div fxLayout="row column" fxLayoutAlign="center center" fxLayoutGap="20px grid">
            <mat-radio-button [value]="'ME'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
              <div style="text-align: center;">
                <img src="../../../assets/images/state-icons/me-icon.png" alt="" class="unchecked">
                <img src="../../../assets/images/state-icons/me-icon-active.png" alt="" class="checked">
                <p>ME</p>
              </div>
            </mat-radio-button>
  
            <mat-radio-button [value]="'NH'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
              <img src="../../../assets/images/state-icons/nh-icon.png" alt="" class="unchecked">
              <img src="../../../assets/images/state-icons/nh-icon-active.png" alt="" class="checked">
              <p>NH</p>
            </mat-radio-button>
            <mat-radio-button [value]="'MA'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
              <img src="../../../assets/images/state-icons/ma-icon.png" alt="" class="unchecked">
              <img src="../../../assets/images/state-icons/ma-icon-active.png" alt="" class="checked">
              <p>MA</p>
            </mat-radio-button>
            <mat-radio-button [value]="'RI'" radioGroup="stateIdGroup" fxFlex.xs="80" fxFlex.sm="34">
              <img src="../../../assets/images/state-icons/ri-icon.png" alt="" class="unchecked">
              <img src="../../../assets/images/state-icons/ri-icon-active.png" alt="" class="checked">
              <p>RI</p>
            </mat-radio-button>
          </div>
        </mat-radio-group>
        <!-- button -->
        <div fxLayout="column" fxLayoutAlign="center end" class="rc-stepper-buttons">
          <button type="button" [disabled]="stateGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
  
      </form>
    </mat-step>
    <!-- Step 1 end  -->
  
    <!-- Step 2 Utility Provider -->
    <mat-step [stepControl]="utilityGroup" errorMessage="Select utility providers.">
      <form [formGroup]="utilityGroup">
        <!-- Name of step -->
        <ng-template matStepLabel>Utility Providers</ng-template>
        <h2 class="rc-main-title">Utility Providers</h2>
        <!-- Content of step -->
        <div fxLayout fxLayoutAlign="center">
          <!-- User input -->
          <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">
  
            <!-- utilities -->
            <mat-form-field appearance="fill">
              <mat-label>Electric Utility</mat-label>
              <mat-select #sGroup formControlName="electricUtility">
                <mat-option *ngFor ="let elec of electricity; let i = index" [value]="electricity[i].utilityProviderId" radioGroup="sGroup">
                  {{electricity[i].title}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <!-- button -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="rc-stepper-buttons">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" (click)="PrepareAvailableRebates()" [disabled]="utilityGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <!-- Step 2 end  -->
  
    <!-- Step 3 available rebate  -->
    <mat-step [stepControl]="availableRebatesGroup" errorMessage="Complete the form.">
  
      <!-- Name of step -->
      <ng-template matStepLabel>Available Rebates</ng-template>
      <h2 class="rc-main-title">Available Rebates</h2>
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="80" fxFlex.sm="80" fxFlex.xs="80">
          <div *ngFor ="let reb of availableRebates" class="rc-checklist-n1"  [ngClass]="reb.completed ? 'checked' : ''">
            <mat-checkbox class="rc-hide-checkbox"
              (change)="rebate_change(reb)"
              [(ngModel)]="reb.completed">
              <div class="rc-checklist-icon">
                <mat-icon>done</mat-icon>
              </div>
              {{reb.title}}
            </mat-checkbox>
  
              <div class="rc-checklist-n2">
                <span class="rc-info-title-ar" *ngIf="reb.rebateCriteria!.length >0">Rebate Criteria:</span>
                <p *ngFor ="let rebCriteria of reb.rebateCriteria">
                  <mat-checkbox
                    [(ngModel)] = "rebCriteria.completed"
                    (change)="reb_criteria_change(reb)">
                    {{rebCriteria.title}}
                  </mat-checkbox>
                </p>
                <span class="rc-info-title-ar"   *ngIf="reb.rebateTiers!.length > 0 && reb.rebateTiers![0].title != 'Default'">Rebate Tiers:</span>
                <div fxLayout="row column"  fxLayoutAlign="center" fxLayoutGap="20px grid" fxLayout.sm="column" fxLayoutAlign.sm="center stretch" fxLayoutGap.sm="16px grid" fxLayout.xs="column" fxLayoutAlign.xs="center stretch" fxLayoutGap.xs="16px grid">
                  <div *ngFor ="let rebTier of reb.rebateTiers" [ngClass]="rebTier.completed ? 'checked' : ''" fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <div class="rc-rt-container" *ngIf="rebTier.title != 'Default'" >
                      <mat-checkbox class="rc-hide-checkbox"
                        [(ngModel)]="rebTier.completed"
                        (change)="reb_tier_change(rebTier, reb)">
                        {{rebTier.title}}
                      </mat-checkbox>
  
  
                      <div class="rc-checklist-n3">
                        <span class="rc-info-title-ar"   *ngIf="rebTier.rebateTierCriteria!.length >0">Rebate Tier Criteria:</span>
                        <p *ngFor ="let rebTierCriteria of rebTier.rebateTierCriteria">
                          <mat-checkbox
                            [(ngModel)] = "rebTierCriteria.completed"
                            (change)="reb_tier_criteria_change(rebTier, reb)"
                            >{{rebTierCriteria.title}}</mat-checkbox>
                        </p>
                      </div>
                      <div class="rc-rt-icon">
                        <mat-icon>check_circle_outline</mat-icon>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
  
          </div>
          <!-- button -->
          <div fxLayout="row" fxLayoutAlign="space-between center" class="rc-stepper-buttons">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" (click)="onSubmit()" [disabled]="!IsValidAvailabeRebates" mat-raised-button color="primary" matStepperNext>Continue
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Content of step -->
  </mat-step>
  <!-- Step 3 end  -->
  
  
    <!-- Step 4 Equipment Size -->
    <mat-step [stepControl]="nominalSizeGroup" errorMessage="Complete all fields.">
      <form [formGroup]="nominalSizeGroup" (ngSubmit)="submitForm()">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <h2 class="rc-main-title">Equipment Size</h2>
        <!-- Content of step -->
        <div fxLayout fxLayoutAlign="center">
          <!-- User input -->
          <div fxFlex="40" fxLayout="column" fxLayoutAlign="center stretch" fxFlex.xs="100" fxFlex.sm="70" fxFlex.md="40" fxLayoutGap="20">
  
            <!-- input -->
            <mat-form-field appearance="fill"  >
              <mat-label>Cooling tons</mat-label>
              <mat-select  #sGroup formControlName="coolingTons">
                  <mat-option [value]="0.5" radioGroup="sGroup"> < 1.0 </mat-option>
                  <mat-option [value]="1.0" radioGroup="sGroup"> 1.0  </mat-option>
                  <mat-option [value]="1.5" radioGroup="sGroup"> 1.5 </mat-option>
                  <mat-option [value]="2.0" radioGroup="sGroup"> 2.0 </mat-option>
                  <mat-option [value]="2.5" radioGroup="sGroup"> 2.5 </mat-option>
                  <mat-option [value]="3.0" radioGroup="sGroup"> 3.0 </mat-option>
                  <mat-option [value]="3.5" radioGroup="sGroup"> 3.5 </mat-option>
                  <mat-option [value]="4.0" radioGroup="sGroup"> 4.0 </mat-option>
                  <mat-option [value]="4.5" radioGroup="sGroup"> 4.5 </mat-option>
                  <mat-option [value]="5.0" radioGroup="sGroup"> 5.0 </mat-option>
              </mat-select>
            </mat-form-field>
  
            <!-- button -->
            <div fxLayout="row" fxLayoutAlign="space-between center" class="rc-stepper-buttons">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="submit" [disabled]="nominalSizeGroup.invalid" mat-raised-button color="primary" matStepperNext>Continue
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <!-- Step 4 end  -->
  
    <!-- results -->
    <mat-step>
  
      <ng-template matStepLabel>AHRI Combinations</ng-template>
      <h2 class="rc-main-title">AHRI Combinations</h2>
      
      <!-- reusable component -->
      <app-results></app-results>

    </mat-step>
    <!-- results end -->
  
  </mat-stepper>
  