/* Global variables */
:root {
  --rc-primary-color: #1565C0;
  --rc-primary-light-color: #5e92f3;
  --rc-primary-dark-color: #003c8f;
  --rc-accent-color: #FFA000;
  --rc-warn-color: #B71C1C;
  /*Text colors*/
  --rc-text-color: #292929;
  --rc-text-light-color: #606060;
}

/* Gobal style */
body {
  background-color: #fcfcfc;
  line-height: 1.5rem;
}

*, body, p {
  margin: 0;
  font-family: 'Bitter', serif;
}

main{
  min-height: calc(100% - 84px);
  padding-bottom: 1.5rem;
  background-color: #fbfbfb;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif;
}

.rc-lead{
  font-size: 18px;
}

.rc-email{
  color: var(--rc-accent-color);
}

.rc-small{
  font-size: 80%;
}

/*All titles in pages*/
  .rc-main-title {
    text-align: center;
    font-size: 1.75rem !important;
    text-transform: uppercase;
    color: var(--rc-primary-dark-color);
    margin: 2rem 0 !important;
  }
  .rc-main-title::after {
    content: '';
    border-bottom: solid 3px var(--rc-accent-color);
    width: 50px;
    display: block;
    margin: .75rem auto;
  }
  .rc-page-subtitle{
    color: var(--rc-primary-color);
    margin-bottom: 1rem;
  }
  .rc-page-subtitle::after {
    content: '';
    border-bottom: solid 3px var(--rc-accent-color);
    width: 30px;
    display: block;
  }

/*Alerts*/
  .rc-alert{
    position: relative;
    padding: 1.25rem 1.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-radius: 0.5rem;
    color: #640;
    background-color: #fec;
    border-color: #FFE5B3;
  }
  .rc-alert p{
    margin-left: 1rem;
  }
  .rc-alert .rc-link {
    border-bottom: thin dashed;
    color: #640;
    font-weight: bold;
  }
  .rc-icon-alert{
    position: absolute;
    z-index: 0;
    color: #66440038;
    font-size: 3rem;
    top: .5rem;
    left: .5rem;
  }

/*Notes*/
  .rc-note {
    margin: 1rem 0;
    padding: 10px;
    border-left: 6px solid;
    border-radius: 5px;
    background-color: white;
    border-color: var(--rc-primary-color);
  }

/* header */
  .rc-header {
    padding: 16px;
    background-color: white;
  }
  .rc-header .rc-container{
    padding-top: 0;
  }
  .rc-header h1{
    margin: 0 !important;
    color: var(--rc-primary-color);
  }
  .rc-header img{
    width: 150px;
  }

/*Radio button*/
  .mat-radio-group{
    margin-bottom: 15px;
  }
  .mat-radio-group mat-radio-button{
    margin: 5px;
  }

/* breadcrumb*/
  .xng-breadcrumb-root {
    padding: 16px 16px;
    background-color: var(--rc-primary-color);
    font-family: 'Bitter', serif;
  }
  .xng-breadcrumb-root .xng-breadcrumb-link  {
    color:#cfcdcd;
  }
  .xng-breadcrumb-root .xng-breadcrumb-trail  {
    color: white;
  }
  .xng-breadcrumb-separator {
    color: white;
    padding: 0 4px;
  }

/*container*/
  .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .rc-container {
    padding-top: 1.5rem;
  }
    @media screen and (min-width: 1400px){
      .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list{
        width: 1320px;
      }
    }
    @media screen and (min-width: 992px) and (max-width: 1199px){
      .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list{
        width: 960px;
      }
    }
    @media screen and (min-width: 960px) and (max-width: 991px){
      .rc-container, .xng-breadcrumb-root  .xng-breadcrumb-list{
        width: 900px;
      }
    }
    @media screen and (min-width: 768px) and (max-width: 959px){
      .rc-container, .xng-breadcrumb-root  .xng-breadcrumb-list{
        width: 760px;
      }
    }
    @media screen and (min-width: 576px) and (max-width: 767px){
      .rc-container, .xng-breadcrumb-root .xng-breadcrumb-list{
        width: 540px;
      }
    }
    @media screen and (max-width: 575px){
      .rc-container, .xng-breadcrumb-root  .xng-breadcrumb-list{
        width: 90%;
        padding-left: 0;
        padding-right: 0;
      }
    }

/* Table responsive */
  .table-overflow{
    display: block;
    overflow-x: auto;
  }
    @media screen and (max-width: 767px){
      .table-overflow{
        overflow-x: initial;
      }
    }
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #DEE2E6;
  }
  table thead th {
    vertical-align: bottom;
    font-weight: bold;
    font-size: .785rem;
  }
  table th, table td {
    text-align: left;
    padding-top: 1.1rem;
    padding-bottom: 1rem;
  }
  table td {
    font-family: 'Bitter', serif;
  }
  table tbody tr:nth-of-type(odd) {
    background-color: #F3F3F3;
  }
  table tbody tr:nth-of-type(even) {
    background-color: white;
  }
    @media (min-width: 768px) {
      table th:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l),
      table td:not(.nkn-hide-s):not(.nkn-hide-m):not(.nkn-hide-l) {
          display: table-cell;
      }
      table tr {
          border: solid 1px var(--nkn-border-color);
      }
      thead th {
          color: white;
          font-weight: 500;
          background-color: var(--rc-primary-dark-color);;
          padding: .75rem;
          text-transform: uppercase;
      }
      td {
          padding: .75rem;
      }
    }
    @media (max-width: 767px) {
      table{
          border: none;
      }
      table thead {
          display: none;
      }
      table tr {
          display: block;
          margin: .5rem 0;
          border: solid 1px #DEE2E6;
          border-radius: 4px;
      }
      table td {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin: .5rem;
          width: 100%;
          border: none;
          padding: 0 .5rem;
      }
      /*label for cell*/
      table td:before {
          content: attr(data-title) " :";
          color: var(--rc-text-light-color);
          width: 40%;
          padding-right: .5rem;
          overflow: hidden;
          -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
          overflow-wrap: break-word;
          font-size: .75rem;
          background-color: white;
          font-family: 'Raleway', sans-serif;
      }
      tbody tr,  table tbody tr:nth-of-type(odd) {
          background-color: white;
      }
    }

  /*List in table without paddin start*/
    .rc-list-in-table{
      padding-inline-start: 20px;
    }

/* footer */
  footer {
    height: 60px;
    background-color: white;
  }

/* ==================== Styles in Pages ========================== */

/*Second Home*/
.rc-second-home-card {
  border: 1px solid lightgray;
  padding: 4rem 10px;
  border-radius: 5px;
  text-align: center;
  height: 100%;
}
.rc-second-home-card img {
  width: 100px;
  height: 100px;
}
.rc-second-home-card p{
  text-align: center;
  margin: 3rem 0 0 0;
  font-weight: bold;
  color: var(--rc-text-light-color);
}
.rc-second-home-card:hover {
  box-shadow: 0 0 11px rgb(33 33 33 / 20%);
  background-color: white;
  cursor: pointer;
}
.rc-second-home-card img.checked {
  display: none;
}
.rc-second-home-card:hover img.checked {
  display: inline-block;
}
.rc-second-home-card:hover img.unchecked {
  display: none;
}

/* Stepper styles */
  .mat-stepper-horizontal{
    background-color: transparent !important;
  }
  .rc-stepper-buttons{
    margin-top: 1.5rem;
  }

/* Button styles */
  .rc-btn {
    line-height: normal;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: pointer;
    margin: 0em;
    padding: 1px 6px;
  }
  .rc-btn-primary{
    background-color: var(--rc-primary-color);
    color: white;
  }
  .rc-btn-secondary {
    background-color: white;
    border: 1px solid var(--rc-primary-color);
    border-radius: 4px;
    color: var(--rc-primary-color);
  }
  .rc-btn-secondary mat-icon {
    transform: scale(.75);
  }

/* AHRI Combinations Page*/
  /* Pagination */
    .rc-pagination {
      margin-top: 1rem;
    }
    .rc-nr-pages {
      color: #939393;
      line-height: 1rem;
      font-size: .75rem;
    }

  /*HVAC Filters*/
    .rc-filters{
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 4px;
      margin-top: 1rem;
    }
    .rc-filters .mat-expansion-panel-header{
      padding: 0.75rem 1rem;
      margin-bottom: 0;
      background-color: rgba(0,0,0,.03);
      border-bottom: 1px solid rgba(0,0,0,.125);
      font-size: 14px;
    }
    .rc-filters .mat-expansion-panel-header,
    .rc-filters .mat-expansion-panel-header.mat-expanded{      
      height: auto;
      pointer-events: none;
    }
    .rc-filters .mat-expansion-panel-header .mat-expansion-indicator{
      display: none;
    }
    .rc-filters .mat-expansion-panel-header h4{ 
      padding-left: .5rem;
      color: var(--rc-primary-dark-color);
    }
    .rc-filters .mat-expansion-panel-header mat-icon{
      color: var(--rc-primary-dark-color);
    }
      @media (max-width: 959px){
        .rc-filters .mat-expansion-panel-header,
        .rc-filters .mat-expansion-panel-header.mat-expanded{
          pointer-events: initial;
        }
        .rc-filters .mat-expansion-panel-header .mat-expansion-indicator{
          display: initial;
        }
      }
    .rc-filters .mat-expanded .mat-expansion-panel-content{
      padding: 1rem;
      font-size: initial;
    }
    .rc-filters .mat-expansion-panel-content{
      padding: 0;
    }
    .rc-filters .mat-expansion-panel-content .mat-expansion-panel-body{
      padding: 0;
    }
    .rc-filters .mat-expansion-panel-content .mat-form-field{
      width: 100%;
    }
    .rc-filter-group{
      padding-left: 1rem;
    }
    .rc-filters-body h5{
      text-transform: uppercase;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
      font-family: 'Bitter',sans-serif;
    }

    /* Style for filters components */
    /*Radio button type TABS for first filter*/
      .rc-tab-content{
        padding: 2rem 1rem;
        background-color: white;
      }
        @media only screen and (max-width: 767px){
          .rc-tab-content{
            padding: 0;
          }
        }
      .rc-radio-options{
        clear: both;
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid var(--rc-primary-color);
        padding: 0 10px;
        position: relative;
        height: 46px;
      }
      .rc-radio-options span.mat-radio-container {
        position: absolute;
        left: -99999em;
        top: -99999em;
      }
      .rc-radio-options label{
        cursor: pointer;
        border: 1px solid #aaa;
        border-bottom: 0;
        background-color: #eeeeee;
        padding: 0.5rem;
        position: relative;
        color: #444;
        font-size: 14px;
      }
      .rc-radio-options label .mat-radio-container{
        font-family: 'Raleway', sans-serif !important;
      }
      .rc-radio-options .mat-radio-checked label.mat-radio-label{
        box-shadow: 0 3px 0 -1px #fff, inset 0 5px 0 -1px var(--rc-primary-color);
          background-color: #fff;
          border-color: var(--rc-primary-color);
          z-index: 1;
          color: var(--rc-primary-color);
      }
        /*tabs trnaforn in button option for responsive*/
        @media screen and (min-width: 768px) and (max-width: 959px){
          .rc-radio-options label{
            padding: 0.5rem 0.25rem;
          }
        }
        @media screen and (max-width: 767px){
          .rc-radio-options{
            border-bottom: none;
            padding: 0;
            height: auto;
            margin-bottom: 1rem;
            text-align: center;
          }
          .rc-radio-options mat-radio-button {
            margin: 0 .65rem
          }
          .rc-radio-options span.mat-radio-container {
            display: none;
          }
          .rc-radio-options label{
            background: white;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin: 5px;
            border-radius: 5px;
            cursor: pointer;
            padding: 0 5px;
            border: 1px solid var(--rc-text-light-color);
            transition: all 0.3s ease;
            color: var(--rc-text-light-color);
            font-size: .75rem;
            text-transform: uppercase;
            letter-spacing: .1rem;
            padding: 5px;
          }
          .rc-radio-options label .mat-radio-container{
            font-family: 'Raleway', sans-serif !important;
          }
          .rc-radio-options .mat-radio-checked label.mat-radio-label{
            border: 2px solid var(--rc-primary-color);
            background: white;
            color: var(--rc-primary-color);
            box-shadow: none;
          }
        }
    
  /* Checkbox filters */
  .rc-filter-group .mat-list-base{
    margin-bottom: 0.85rem;
  }
  .rc-filter-group .mat-list-base .mat-list-item, .mat-list-base .mat-list-option{
    height: 30px;
  }
  .rc-filter-group .mat-pseudo-checkbox{
      position: absolute;
      left: .5rem;
    }
    .rc-filter-group .mat-list-text{
      margin-left: 1rem;
    }

  /*List of filters selected*/
    .rc-filters-selected {
      margin-top: 1rem;
      background-color: #1565c012;
      padding: 0.5rem;
      border-radius: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .rc-filters-selected h5{
      display: inline-block;
      padding-right: .5rem;
    }
    .rc-filters-selected mat-chip-list{
      display: inline-block;
    }
    .rc-filters-selected mat-chip.mat-chip {
      border-color: transparent;
      background-color: #303f9f;
      border-radius: 2rem;
      color: white;
    }
    .rc-filters-selected mat-chip.mat-chip button.mat-chip-remove {
      color: white;
    }
    .rc-filters-selected mat-chip.mat-chip button.mat-chip-remove:hover {
      opacity: .6;
    }
  
    @media (max-width: 960px) {
      .rc-filters-selected {
        background-color: transparent;
      }
      .rc-filters-selected .rc-f{
        background-color: #1565c012;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-bottom: 0.15rem;
      }
      .rc-filters-selected h5{
        display: block;
      }
      .rc-nr-pages {
        margin-top: 1rem;
      }
    }

/*Available Rebates step*/
/*Radio button type image*/
  .rc-img-rb span.mat-radio-container{
    display: none;
  }
  .rc-img-rb p {
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
    color: var(--rc-text-light-color);
  }
  .rc-img-rb img{
    width: 100px;
    height: 100px;
  }
  .rc-img-rb img.checked{
    display: none;
  }
  .rc-img-rb label.mat-radio-label {
    border: 1px solid lightgray;
    padding: 25px 5px 20px 5px;
    border-radius: 5px;
    text-align: center;
  }
  .rc-img-rb label.mat-radio-label:hover{  
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  .rc-img-rb label.mat-radio-label .mat-radio-label-content {
    margin: 0 auto;
  }
  .rc-img-rb .mat-radio-checked label.mat-radio-label {
    border-color: var(--rc-accent-color);
    background-color: white;
  }
  .rc-img-rb .mat-radio-checked p{
    color: var(--rc-accent-color);
  }
  .rc-img-rb .mat-radio-checked img.unchecked, .rc-img-rb label.mat-radio-label:hover img.unchecked{
    display: none;
  }
  .rc-img-rb .mat-radio-checked img.checked, .rc-img-rb label.mat-radio-label:hover img.checked{
    display: inline-block;
  }

/*Check box style like hierarchical list*/
  span.rc-info-title-ar {
    font-size: 10px;
    color: #c7c7c7;
    text-transform: uppercase;
    font-family: 'Raleway',sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    display: block;
  }
  .rc-checklist-n1{
    position: relative;
    list-style: none;
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 1rem 1rem 1.5rem 1rem;
    margin-bottom: 2rem;
    color: var(--rc-text-light-color);
  }
  .mat-checkbox-layout { white-space: normal !important; }
  .rc-checklist-icon mat-icon {
    display: none;
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: white;
  }
  .rc-checklist-icon {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--rc-primary-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
    @media screen and (max-width: 767px){
      .rc-checklist-icon mat-icon {
        width: 32px;
        height: 32px;
        font-size: 32px;
        color: white;
      }
      .rc-checklist-icon {
        top: -16px;
        right: -16px;
          width: 32px;
          height: 32px;
      }
    }

  /*Nivel 1*/
  .mat-checkbox.rc-hide-checkbox {
    width: 100%;
  }
  .mat-checkbox.rc-hide-checkbox .mat-checkbox-layout{
    display: block;
    height: 100%;
  }
  .rc-hide-checkbox span.mat-checkbox-inner-container {
    display: none;
  }

  .rc-checklist-n1 > mat-checkbox span.mat-checkbox-label{
    font-size: 24px;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .25rem;
    color: #606060;
  }
  .rc-rb-h100{
    display: flex;
    height: 100%;
  }
    /*on checked*/
    .rc-checklist-n1.checked {
      border-color: var(--rc-primary-color);
    }
    .rc-checklist-n1 > mat-checkbox.mat-checkbox-checked mat-icon, .rc-checklist-n1 > mat-checkbox.mat-checkbox-checked .rc-checklist-icon {
      display: inline-block;
    }
    .rc-checklist-n1 > mat-checkbox.mat-checkbox-checked span.mat-checkbox-label{
      color: var(--rc-primary-color);
    }
    .rc-checklist-n1 > mat-checkbox.mat-checkbox-checked ~ .rc-checklist-n1 > mat-checkbox span.mat-checkbox-label{
      border-color: var(--rc-primary-color);
    }
      @media screen and (max-width: 767px){
        .rc-checklist-n1 span.mat-checkbox-inner-container {
          margin: 0 8px;
        }
      }

  /*Nivel 2*/
  .rc-checklist-n2{
    padding-left: 1.25rem;
  }
  
  .rc-checklist-n2 > div > div.ng-star-inserted .rc-rt-container {
    background-color: transparent;
    padding: 5px 10px 0px 10px;
    border-radius: 4px;
    position: relative;
    background-color: whitesmoke;
    font-size: 14px;
    border: 2px solid #f5f5f5;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 100%;
  }
  .rc-checklist-n2 > div > div.ng-star-inserted .rc-rt-container p{
    font-weight: 500;
  }
    @media screen and (max-width: 767px){
      .rc-checklist-n2{
        padding-left: 0;
      }
      .rc-checklist-n2 > div > div.ng-star-inserted > .rc-rt-container {
        padding: 5px;
      }
    }
  .rc-checklist-n2 > p.ng-star-inserted, .rc-checklist-n2 > div.ng-star-inserted {
    margin-bottom: 1.5rem;
  }
  .rc-rt-icon {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #fcfcfc;
    border-radius: 64%;
    width: 30px;
    height: 30px;
  }
  .rc-rt-icon mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }
    /*on checked*/
      .rc-checklist-n2 > div > div.ng-star-inserted.checked .rc-rt-container {
        color: var(--rc-accent-color);
      }
      .rc-checklist-n2 > div > div.ng-star-inserted.checked .rc-rt-container p{
        color: var(--rc-text-color);
      }
      .rc-checklist-n2 > div > div.ng-star-inserted.checked .rc-rt-container{
        border: 2px solid #ffa0005c;
      }
      .rc-checklist-n2 > div > div.ng-star-inserted.checked  .rc-rt-container > .rc-rt-icon{
        display: inline-block;
        color: var(--rc-accent-color);
      }

  /*Nivel 3*/
    .rc-checklist-n3{
      padding-left: 2rem;
    }
    @media screen and (max-width: 767px){
      .rc-checklist-n3{
        padding-left: .5rem;
      }
    }
    .rc-checklist-n3 .mat-checkbox{
      font-size: 14px;
      margin-bottom: .5rem;
    }
    .rc-img-float{
      position: absolute;
      top: 10px;
      right: 10px;
    }
    .rc-img-float img{
      width: 70px;
      height: auto;
      transform: rotate(50deg);
    }

  /*Available notes*/
  .rc-info-note {
    margin-top: 5px;
    font-size: 12px;
  }
  .rc-rebate-info-note{
    margin-top: 5px;
    font-size: 12px;
    font-style: italic;
  }
  .rc-info-note mat-icon, .rc-rebate-info-note mat-icon{
    width: 14px;
    height: 14px;
    font-size: 14px;
  }

/* Detail Page*/
  .rc-hvac-detail {
    padding: 2rem 1.5rem;
    border-radius: 8px;
    color: var(--rc-text-light-color);
    background: #f3f3f3;
  }
  .rc-hvac-detail h2{
    margin: .75rem 0;
    color: var(--rc-primary-dark-color);
  }
  .rc-hvac-detail span{
    margin: 0 1rem;
  }
  /*Card*/
    .rc-available-rebates {
      padding: 2rem 2rem 1rem 2rem !important;
      border-radius: 4px;
      font-family: 'Bitter', serif !important;
      color: var(--rc-text-light-color) !important;
      margin: 0 .35rem;
    }
    .rc-available-rebates mat-card-footer{
      padding: 1rem 0;
    }
    @media (max-width: 959px){
      .rc-available-rebates {
        margin: .35rem 0;
      }
    }
    @media (min-width: 960px) and (max-width: 1199px){
      .rc-available-rebates {
        min-height: 210px;
      }
    }
    .rc-available-rebates mat-card-title{
      color: var(--rc-text-color);
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 1.5rem;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
    }
    .rc-available-rebates .price{
      border-right: 2px solid rgb(231, 231, 231);
    }
    .rc-available-rebates .price h1{
      color: var(--rc-primary-color);
      font-size: 40px;
      margin-top: 0.5rem;
    }
    .rc-available-rebates .description{
      padding-left: 1.25rem;
    }
    @media (max-width: 767px) {
      .rc-available-rebates .price h1{
          font-size: 32px;
      }
      .rc-header h1{
          font-size: 18px;
      }
      .rc-header img {
          width: 115px;
      }
    }
    @media (max-width: 599px) {
      .rc-available-rebates .price{
        border-right: none;
        border-bottom: 2px solid rgb(231, 231, 231);
        padding-bottom: 2rem;
      }
      .rc-available-rebates .description{
        padding-left: 0;
        padding-top: 1.25rem;
      }
      .rc-available-rebates mat-card-title {
          margin-top: 2rem !important;
      }
    }
    @media (max-width: 575px) {
      .rc-available-rebates .price h1{
        font-size: 40px;
      }
    }

  .rc-radio-label{
    color: var(--rc-text-light-color);
    font-size: 12px;
    display: block;
  }

  /*Show and hide controller*/
  .rc-hide{
    display: none;
  }
  .rc-show{
    display: initial;
  }

  @media only screen and (max-width:960px){
    .rc-show-md{
      display: inline-block;
    }
    .rc-hide-md{
      display: none;
    }
  }

  @media only screen and (max-width:767px){
    .rc-show-sm{
      display: inline-block;
    }
    .rc-hide-sm{
      display: none;
    }
  }

  /*Change check position in the card*/
    .rc-list-accesories .mat-checkbox-layout{
      position: relative !important;
    }
    .rc-list-accesories .mat-checkbox-layout .mat-checkbox-inner-container{
      position: absolute !important;
      top: 5px;
    }
    .rc-list-accesories .mat-checkbox-layout .mat-checkbox-label{
      margin-left: 1.5rem !important;
    }

  /*Tab border bottom*/
  .mat-tab-label-active .mat-tab-label .mat-tab-label-content{
    font-weight: bold;
  }
  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: var(--rc-accent-color)!important;
  }