
<div mat-dialog-actions>
    <div mat-dialog-content>
    <div class="rc-available-rebate">
        <mat-card-header>
            <mat-card-title>
                <h4>REBATES</h4>
            </mat-card-title>                
        </mat-card-header>
        <mat-card-content>
          <div class="rc-checked-rebate" *ngFor="let rebate of myRebate">
            <mat-checkbox  value="Mass Save Heat Pump rebates">
                {{rebate.title}}
                <div class="rc-checked-rebate-criteria"  *ngFor="let rebateTier of rebate.rebateTiers">
                  <mat-radio-group *ngIf="rebateTier.title != 'Default'">
                    <mat-radio-button class="example-radio-button" value="Partial home/supplemental HP">
                        {{rebateTier.title}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
            </mat-checkbox >
          </div>
            </mat-card-content>
    </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button type="button" mat-button (click)="close()"> Cancel</button>
        <button type="button" mat-raised-button color="primary" [mat-dialog-close]="true">Apply</button>
