<!-- rebates -->
<div fxFlex="30">
    <mat-card class="rc-available-rebate">
        <mat-card-header>
            <mat-card-title>
                <h4>REBATES</h4>
            </mat-card-title>                
        </mat-card-header>

        <!-- rebstes list -->
        <mat-card-content>
          <div class="rc-checked-rebate" *ngFor="let rebate of myRebate" >
            <mat-checkbox  value="Mass Save Heat Pump rebates">
                {{rebate.title}}
                <div class="rc-checked-rebate-criteria">
                  <mat-radio-group *ngFor="let rebateTier of rebate.rebateTiers">
                    <mat-radio-button class="example-radio-button" value="Partial home/supplemental HP" *ngIf="rebateTier.title != 'Default'" >
                      {{rebateTier.title}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
            </mat-checkbox>                    
          </div>
        </mat-card-content>

    </mat-card>
</div>
<!-- rebates end -->

<div mat-dialog-content>
    <div class="rc-available-rebate">
        <mat-card-header>
            <mat-card-title>
                <h4>REBATES</h4>
            </mat-card-title>                
        </mat-card-header>
        <mat-card-content>
          <div class="rc-checked-rebate">
            <mat-checkbox  value="Mass Save Heat Pump rebates">
                Mass Save Heat Pump rebates
                <div class="rc-checked-rebate-criteria">
                  <mat-radio-group>
                    <mat-radio-button class="example-radio-button" value="Partial home/supplemental HP">
                      Partial home/supplemental HP
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Whole house HP">
                      Whole house HP
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
            </mat-checkbox >
            <mat-checkbox  value="MASS SAVE GAS HEATING">
                MASS SAVE GAS HEATING
            </mat-checkbox >
            <mat-checkbox  value="CARRIER COOL CASH">
                CARRIER COOL CASH
            </mat-checkbox >

          </div>
        </mat-card-content>
    </div>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button type="button" mat-button (click)="close()"> Cancel</button>
        <button type="button" mat-raised-button color="primary" [mat-dialog-close]="true">Apply</button>
</div>