
<div class="rc-detail-view">
  <img src="./assets/img/illustration-2.svg" alt="">
  <mat-card class="rc-card">
    <mat-card-title class="rc-card-title">SELECTED HVAC SYSTEM</mat-card-title>
    <mat-card-content>
      <div class="rc-row">
        <div>Outdoor unit</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>Indoor unit</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>Furnace</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>Cooling capacity</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>SEER</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>EER</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>HSPF</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>HCap 47</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>HCap 17</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>AFUE</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>BTUH</div>
        <div>24ANB136</div>
      </div>
      <div class="rc-row">
        <div>AHRI reference nr</div>
        <div>24ANB136</div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<div>
  <h2 class="rc-main-title">AVAILABLE REBATES</h2>
  <mat-card class="rc-card-h">
    <mat-card-title class="rc-card-title">SELECTED HVAC SYSTEM</mat-card-title>
    <mat-card-content>
      <div class="rc-row">
        <div>Mass Save central AC / HP - Standard</div>
        <p>Mass Save residential central AC and Heat Pump rebate.

          Qualifying units for equipment rebate must be purchased and installed between
          January 1, 2021, and December 31, 2021. Applications must be postmarked by
          January 31, 2022.
        </p>
        <button type="button" mat-button matStepperPrevious color="primary">Form</button>
        <a href="" color="primary">More info</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<p>detail-who works!</p>
