
<div class="rc-hero-content">
  <section class="nkn-mb-medium">
    <h2 class="rc-main-title">SELECTED HVAC SYSTEM</h2>
    <div class="rc-content-flex">
      <mat-card class="rc-card rc-card-selected-hvac">
        <!-- <mat-card-title class="rc-card-title"></mat-card-title> -->
        <mat-card-content>
          <div class="nkn-space-between">
            <div>Outdoor unit</div>
            <div>{{detail.outdoorUnitAHRIModel}}</div>
          </div>
          <div class="nkn-space-between">
            <div>Indoor unit</div>
            <div>{{detail.indoorUnitAHRIModel}}</div>
          </div>
          <div class="nkn-space-between">
            <div>Furnace</div>
            <div>{{detail.furnaceAHRIModel}}</div>
          </div>
          <div class="nkn-space-between">
            <div>Cooling capacity</div>
            <div>{{detail.coolingCapacityRated}}</div>
          </div>
          <div class="nkn-space-between">
            <div>SEER</div>
            <div>{{detail.SEER}}</div>
          </div>
          <div class="nkn-space-between">
            <div>EER</div>
            <div>{{detail.EER}}</div>
          </div>
          <div class="nkn-space-between">
            <div>HSPF</div>
            <div>{{detail.HSPF}}</div>
          </div>
          <div class="nkn-space-between">
            <div>HCap 47</div>
            <div>{{detail.Hcap47}}</div>
          </div>
          <div class="nkn-space-between">
            <div>HCap 17</div>
            <div>{{detail.Hcap17}}</div>
          </div>
          <div class="nkn-space-between">
            <div>AFUE</div>
            <div>{{detail.AFUE}}</div>
          </div>
          <div class="nkn-space-between">
            <div>BTUH</div>
            <div>{{detail.furnaceInputBTUH}}</div>
          </div>
          <div class="nkn-space-between">
            <div>AHRI reference nr</div>
            <div>{{detail.AHRIReferences}}</div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- <img src="./assets/img/illustration-2.svg" alt="" class="illustration-2"> -->
    </div>
  </section>
  <section>
    <h2 class="rc-main-title">AVAILABLE REBATES</h2>
    <div class="rc-content-flex">
      <mat-card class="rc-card rc-card-rebate">
        <mat-card-title class="rc-card-title">Mass Save central AC / HP - Standard</mat-card-title>
        <mat-card-content class="rc-card-content">
          <p class="nkn-text-justify">
            Mass Save residential central AC and Heat Pump rebate.
            Qualifying units for equipment rebate must be purchased and installed between
            January 1, 2021, and December 31, 2021. Applications must be postmarked by
            January 31, 2022.
          </p>
        </mat-card-content>
        <mat-card-actions class="rc-card-actions">
          <button type="button" (click)="goToLink()" >
            Download Form
          </button>
          <br>
          <a href="" color="primary" class="nkn-ml-large">More info</a>
        </mat-card-actions>
      </mat-card>
      <mat-card class="rc-card rc-card-rebate">
        <mat-card-title class="rc-card-title">AC Upgraid</mat-card-title>
        <mat-card-content class="rc-card-content">
          <p class="nkn-text-justify">
            Requires purchase of specified Carrier indoor air quality product(s). See rebate form for details of qualifying products.
            Sales made between 9/6/2021 to 5/31/2022. Rebate claim must be submitted by 6/30/2022. Rebate offered from participating dealers only.
          </p>
        </mat-card-content>
        <mat-card-actions class="rc-card-actions">
          <button type="button" (click)="goToLink()" >
            Download Form
          </button>
          <br>
          <a href="" color="primary" class="nkn-ml-large">More info</a>
        </mat-card-actions>
      </mat-card>
      <mat-card class="rc-card rc-card-rebate">
        <mat-card-title class="rc-card-title">Mass Save central AC / HP - Standard</mat-card-title>
        <mat-card-content class="rc-card-content">
          <p class="nkn-text-justify">
            Mass Save residential central AC and Heat Pump rebate.
            Qualifying units for equipment rebate must be purchased and installed between
            January 1, 2021, and December 31, 2021. Applications must be postmarked by
            January 31, 2022.
          </p>
        </mat-card-content>
        <mat-card-actions class="rc-card-actions nkn-center">
          <button type="button" (click)="goToLink()" >
            Download Form
          </button>
          <br>
          <a href="" class="rc-link">More info</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
