<div class="rc-hero-content">

  <!-- SELECTED HVAC SYSTEM -->
  <section class="nkn-mb-medium">
    <h2 class="rc-main-title">SELECTED HVAC SYSTEM</h2>
    <div class="rc-content-flex">
      <mat-card class="rc-card rc-card-selected-hvac">
        <!-- <mat-card-title class="rc-card-title"></mat-card-title> -->
        <mat-card-content class="rc-ahri-combination">
          <div class="rc-row">
            <div>Outdoor unit</div>
            <div>{{detail?.outdoorUnitAHRIModel}}</div>
          </div>
          <div class="rc-row">
            <div>Indoor unit</div>
            <div>{{detail?.indoorUnitAHRIModel}}</div>
          </div>
          <div class="rc-row">
            <div>Furnace</div>
            <div>{{detail?.furnaceAHRIModel}}</div>
          </div>
          <div class="rc-row">
            <div>Cooling capacity</div>
            <div>{{detail?.coolingCapacityRated}}</div>
          </div>
          <div class="rc-row">
            <div>SEER</div>
            <div>{{detail?.SEER}}</div>
          </div>
          <div class="rc-row">
            <div>EER</div>
            <div>{{detail?.EER}}</div>
          </div>
          <div class="rc-row">
            <div>HSPF</div>
            <div>{{detail?.HSPF}}</div>
          </div>
          <div class="rc-row">
            <div>HCap 47</div>
            <div>{{detail?.Hcap47}}</div>
          </div>
          <div class="rc-row">
            <div>HCap 17</div>
            <div>{{detail?.Hcap17}}</div>
          </div>
          <div class="rc-row">
            <div>AFUE</div>
            <div>{{detail?.AFUE}}</div>
          </div>
          <div class="rc-row">
            <div>BTUH</div>
            <div>{{detail?.furnaceInputBTUH}}</div>
          </div>
          <div class="rc-row">
            <div>AHRI reference nr</div>
            <div>{{detail?.AHRIReferences}}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
  <!-- SELECTED HVAC SYSTEM  END-->


  <!-- AVAILABLE REBATES -->
  <section>
    <h2 class="rc-main-title">AVAILABLE REBATES</h2>


    <div class="rc-content-flex" *ngFor="let availableRebate of detail?.availableRebates">
      <mat-card class="rc-card rc-card-rebate">
        <!-- title -->
        <mat-card-title class="rc-card-title">{{availableRebate?.title}}</mat-card-title>
        <!-- description -->
        <mat-card-content class="rc-card-content">
          <p class="nkn-text-justify">
            Requires purchase of specified Carrier indoor air quality product(s). See rebate form for details of qualifying products.
            Sales made between 9/6/2021 to 5/31/2022. Rebate claim must be submitted by 6/30/2022. Rebate offered from participating dealers only.
          </p>
          <p class="nkn-text-justify">
            {{availableRebate?.description}}
          </p>
          <!-- amount -->
          <div class="rc-amount">Amount: {{availableRebate?.amount}}</div>
        </mat-card-content>

        <!-- button  download form -->
        <mat-card-actions class="rc-card-actions nkn-center">
          <button type="button" mat-flat-button color="primary" (click)="goToLink()" >
            Download Form
          </button>
          <br>
          <a href="" class="nkn-mt-medium nkn-block rc-link">More info</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
  <!-- AVAILABLE REBATES END -->

</div>
