.rc-detail-view {
  display: flex;
  justify-content: center;
}

.rc-card {
}

.rc-card-title {
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid 1px #DCDCDC;
  padding: 1rem;
  color: var(--rc-primary-color);
}

.rc-row {
  display: flex;
  justify-content: space-between;
}
