<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
    <mat-stepper linear #stepper  >
      <!-- Step 1 -->
      <mat-step  errorMessage="Equipment Size is required." formGroupName="equipment_size" [stepControl]="formGroup?.get('equipment_size')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Equipment Size</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Manual J Heating BTUH</mat-label>
              <input matInput placeholder="Manual J Heating BTUH" required formControlName="manualj_heating_btuhCtrl" >
            </mat-form-field>

            <!-- button -->
            <div class="nkn-center nkn-mt-medium">
              <button type="button" mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 1 end  -->

      <!-- Step 2 -->
      <mat-step  errorMessage="Energy Distrubution is required."  formGroupName="energy_distribution" [stepControl]="formGroup?.get('energy_distribution')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Energy Distrubution</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Energy Distrubution</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- radio button -->
            <mat-label>Energy Distrubution Method</mat-label>
            <mat-radio-group #rGroup formControlName="methodCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'Central heat pumps'" radioGroup="rGroup">Central heat pumps</mat-radio-button>
              <mat-radio-button [value]="'Mini-split ducted & Multi splits'" radioGroup="rGroup">Mini-split ducted & Multi splits</mat-radio-button>
              <mat-radio-button [value]="'Mini-split heat pumps'" radioGroup="rGroup">Mini-split heat pumps</mat-radio-button>
            </mat-radio-group>
            <!-- button -->
            <div class="nkn-space-between nkn-mt-medium">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button" type="submit" mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 2 end -->

      <!-- results -->
      <mat-step>
        <ng-template matStepLabel>AHRI Combinations</ng-template>

        <h2 class="rc-main-title">AHRI Combinations</h2>

        <div *ngIf="showTable">
          <div class="rc-table-container">
            <!-- table -->
            <app-results-who *ngIf="showTable" [data]="data"></app-results-who>
          </div>
        </div>

      </mat-step>
      <!-- results end -->

    </mat-stepper>

  </form>
