<h2 class="rc-main-title">HVAC System Detail</h2>
<div fxLayout="row column" fxLayoutAlign="center" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex="28" fxFlex.sm="100" fxFlex.xs="100">
    <div class="rc-rebates-filters">
      <mat-tab-group dynamicHeight>
      
        <!-- *** rebates *** -->
        <mat-tab label="REBATES">
          <div class="rc-result-rebates">
            <mat-card class="rc-available-rebate">                
              <!-- rebstes list -->
              <mat-card-content>
                <div  class="rc-checked-rebate" >
                  <mat-checkbox>
                    <h3 class="rc-rt-title">
                      REBATE 1
                    </h3>
                      <div>                          
                        <div>
                          <div class="rc-rb-h100">
                            <mat-checkbox class="rc-hide-checkbox ">
                              <div class="rc-rt-container">
                                <p class="rc-rebate-info-note">
                                  Lorem ipsum dolor sit
                                  <mat-icon class="rc-icon-info" matTooltipPosition="right" matTooltip='Soy un tooltip' aria-label="Info about Rebate Tier">info</mat-icon>
                                </p>
                              </div>                      
                            </mat-checkbox>                    
                          </div>
                        </div>
                      </div>
                  </mat-checkbox>                    
                </div>
              </mat-card-content>
          </mat-card>
          </div>
        </mat-tab>
        <!-- *** rebates end *** -->

        <!-- *** filters ***-->
        <mat-tab label="FILTERS">
          <mat-card class="rc-rb-filters">
            <form fxLayout="column" fxLayoutAlign="center" fxLayoutAlign.xs="center stretch" fxLayoutAlign.sm="center stretch" fxLayoutGap="16 4">
              <!-- indoorUnitConfiguration -->
              <h5 class="rc-filter-group-title" >Indoor Unit</h5>
              <div class="rc-filter-group">
                <div>
  
                  <mat-form-field appearance="fill">
                    <mat-label class="rc-radio-label"></mat-label>
                    <mat-select>
                      <mat-option> </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div> 
              <!-- indoorUnitConfiguration end -->
              
              <!-- Coil Type -->
              <h5 class="rc-filter-group-title">Coil Type</h5>
              <div class="rc-filter-group">
                <div>
  
                  <mat-form-field appearance="fill">
                    <mat-label class="rc-radio-label"></mat-label>
                    <mat-select>
                      <mat-option></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Coil Type end -->

              <!-- Coil Casing -->
              <h5 class="rc-filter-group-title">Coil Type</h5>
              <div class="rc-filter-group">
                <div>
  
                  <mat-form-field appearance="fill">
                    <mat-label class="rc-radio-label"></mat-label>
                    <mat-select>
                      <mat-option> </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- Coil Casing end -->

              <!-- Alert Info -->
              <div class="rc-alert info">
                <mat-icon class="rc-icon-alert">info</mat-icon>
                <p>
                  <b>No</b> filters found for this combination
                </p>
              </div>
              
            </form>
          </mat-card>
        </mat-tab>
        <!-- *** filters end *** -->
      </mat-tab-group>
    </div>
  </div>
  <div fxFlex="68" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card class="rc-card detail">
      
      <mat-card-content>
        <div fxLayout="row column" fxLayoutGap="16px Grid">
          <div fxFlex="30" fxFlex.sm="100" fxFlex.xs="100">
            <div class="part">
              <div class="title">
                <div class="decoration"></div>
                <h4 class="text">SKUS</h4>
              </div>
              <div class="content-detail">
                <div class="group-content">
                  <p class="rc-small">Outdoor Unit</p>
                  <mat-form-field class="rc-select-multiline">
                    <mat-select>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                    </mat-select>
                </mat-form-field>
                </div>
                <div class="group-content">
                  <p class="rc-small">Indoor Unit</p>
                  <mat-form-field class="rc-select-multiline">
                    <mat-select>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="group-content">
                  <p class="rc-small">Furnace</p>
                  <mat-form-field class="rc-select-multiline">
                    <mat-select>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                      <mat-option class="rc-select-multiline-option" value="59SC5B060E17--14"> <b>59SC5B060E17--14</b> (14S COMFORT SERIES HP 2.5 TONS 14S COMFORT SERIES HP 2.5 TONS) <span class="price"> $300.00</span></mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          

          <!-- AHRI References -->
          <div fxFlex="30" fxFlex.sm="80" fxFlex.xs="80">
            <div class="part">
              <div class="title">
                <div class="decoration"></div>
                <h4 class="text">AHRI References</h4>
              </div>
              <div class="content-detail">
                <div class="group-content">
                  <p class="rc-small">List of AHRI References</p>
                  <ul class="rc-list-details">
                    <li>24ABB330A005</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div fxFlex="40" fxFlex.sm="100" fxFlex.xs="100">
            <div class="part">
              <div class="title">
                <div class="decoration"></div>
                <h4 class="text">AHRI Ratings</h4>
              </div>
              <div class="content-detail">
                <div fxLayout="row column" fxLayoutGap="8px grid">
                  <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50">
                    <div class="group-content">
                      <p class="rc-small">Cooling capacity</p>
                      <p class="data">23,400</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">SEER</p>
                      <p class="data">22</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">EER</p>
                      <p class="data">14.5</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">HSPF</p>
                      <p class="data">12</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">HCap 47</p>
                      <p class="data">24,000</p>
                    </div>
                  </div>
                  <div fxFlex="50" fxFlex.sm="50" fxFlex.xs="50">
                    <div class="group-content">
                      <p class="rc-small">HCap 17</p>
                      <p class="data">24,200</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">AFUE</p>
                      <p class="data">--</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">Input BTUH</p>
                      <p class="data">--</p>
                    </div>
                    <div class="group-content">
                      <p class="rc-small">Output BTUH</p>
                      <p class="data">--</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
      
      <mat-card-footer>
        <div class="part">
          <div class="title">
            <div class="decoration"></div>
            <h4 class="text">Available Rebates</h4>
          </div>
          <mat-accordion multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout fxLayoutAlign="center" fxLayoutGap="8px">
                    <div fxFlex="50">
                      <h4>
                        Mass save heat pump rebates Whole House HP
                      </h4>
                    </div>
                    <div fxFlex="50" class="price" fxLayout fxLayoutAlign="end">
                      <h4>$ 1500.00</h4>
                    </div>
                  </div>                  
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="available-rebates">
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores amet id, architecto repellat veniam, beatae sunt sapiente cum voluptate vero. Illum quas voluptatibus ab. Nihil, recusandae. Illo, dolorem error!
                </p>
                <div fxLayout="row column" fxLayoutGap="8px grid">
                  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <ul class="link-list">
                      <li><a href=""><mat-icon>link</mat-icon> Rebate program details </a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Mass Save HP FAQs</a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Aplication Form</a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Online application</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout fxLayoutAlign="center" fxLayoutGap="8px">
                    <div fxFlex="50">
                      <h4>
                        Mass save heat pump rebates Whole House HP 2
                      </h4>
                    </div>
                    <div fxFlex="50" class="price" fxLayout fxLayoutAlign="end">
                      <h4>$ 1500.00</h4>
                    </div>
                  </div>                  
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="available-rebates">
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores amet id, architecto repellat veniam, beatae sunt sapiente cum voluptate vero. Illum quas voluptatibus ab. Nihil, recusandae. Illo, dolorem error!
                </p>
                <div fxLayout="row column" fxLayoutGap="8px grid">
                  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <ul class="link-list">
                      <li><a href=""><mat-icon>link</mat-icon> Rebate program details </a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Mass Save HP FAQs</a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Aplication Form</a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Online application</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          
            </mat-expansion-panel>
          
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div fxLayout fxLayoutAlign="center" fxLayoutGap="8px">
                    <div fxFlex="50">
                      <h4>
                        Mass save heat pump rebates Whole House HP 3
                      </h4>
                    </div>
                    <div fxFlex="50" class="price" fxLayout fxLayoutAlign="end">
                      <h4>$ 1500.00</h4>
                    </div>
                  </div>                  
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <div class="available-rebates">
                <p class="description">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maiores amet id, architecto repellat veniam, beatae sunt sapiente cum voluptate vero. Illum quas voluptatibus ab. Nihil, recusandae. Illo, dolorem error!
                </p>
                <div fxLayout="row column" fxLayoutGap="8px grid">
                  <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <ul class="link-list">
                      <li><a href=""><mat-icon>link</mat-icon> Rebate program details </a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Mass Save HP FAQs</a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Aplication Form</a></li>
                      <li><a href=""><mat-icon>link</mat-icon> Online application</a></li>
                    </ul>
                  </div>
                </div>
              </div>
          
            </mat-expansion-panel>
          </mat-accordion>
          
        </div>
      </mat-card-footer>
    </mat-card>
  </div>
</div>



<br/>