/*All styles for Detail Page*/
.rc-card.detail{
    padding: 1.5rem;
    margin-bottom: 5rem;
    text-align: start;
}
.rc-card.detail:hover{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    cursor: auto;
}
/*Part of detail*/
.rc-card.detail .part{
    position: relative;
}
.rc-card.detail .part .title{
    position: relative;
    margin-bottom: 1.5rem;
}
.rc-card.detail .part .title .text{
    color: var(--rc-accent-color);
    position: relative;
    z-index: 5;
}
.rc-card.detail .part .title::after{
    position: relative;
    z-index: 5;
    content: '';
    border-bottom: solid 3px var(--rc-primary-color);
    width: 30px;
    display: block;
}
.rc-card.detail .part .decoration{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFF9F1;
    border-radius: 50%;
    z-index: 0;
    left: -10px;
    top: -5px;
}

.rc-card.detail .part .content-detail{
    padding: 5px 8px 20px 16px
}
.rc-card.detail .part .content-detail .group-content{
    margin-bottom: 4px;
}
.rc-card.detail .part .content-detail .group-content .rc-small{
    color: #9a9a9a;
    font-size: 11px;
}
.rc-card.detail .part .content-detail .group-content p.data{
    font-weight: 600;
}
    /* Modifying select styles within the Details card */
    ::ng-deep .group-content mat-form-field.rc-select-multiline {
        display: block;
    }
    ::ng-deep .group-content mat-form-field .mat-form-field-wrapper {
        padding-bottom: .5rem;
    }
    ::ng-deep .group-content mat-form-field .mat-form-field-infix {
        padding: 0;
        border-top: none;
    }
    ::ng-deep .group-content mat-form-field .mat-form-field-wrapper .mat-form-field-underline{
        display: none;
    }

/*Accordion tabs for rebates*/
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel{
    background-color: #F8F8F8;
    box-shadow: none;
    margin-bottom: .5rem;
}
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header.mat-expanded{
    border-bottom: 1px solid #D7D7D7;
    border-radius: 0;
}
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header-title{
    display: initial;
}
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-header-title .price h4{
    background-color: rgba(49, 120, 191, 0.13);
    border-radius: 4px;
    padding: 2px 12px;
    color: var(--rc-primary-color);
}
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body{
    padding: 16px 24px 16px;
}

::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list{
    list-style: none;    
    padding-inline-start: 16px;
    margin-top: 1rem;
}
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list li a{
    color: var(--rc-primary-color) !important;
    cursor: pointer;
    margin-bottom: .5rem;
}
::ng-deep .rc-card.detail .mat-accordion .mat-expansion-panel .mat-expansion-panel-body .link-list mat-icon{
    font-size: 16px;
    width: 16px;
    height: 20px;
    padding-top: 0px;
    transform: rotate(145deg);
}

/*Detail Available Rebates 
        .rc-card.detail-available-rebates{
            padding: 1.5rem !important; 
            margin-right: .5rem;
            margin-bottom: .5rem;
        }
        .rc-card.detail-available-rebates .mat-card-title h5{
            font-weight: bold;
            margin-left: 2.25rem;
        }
        .rc-card.detail-available-rebates .mat-card-title h5::before{
            background-image: url('../../../../assets/images/icons/bills.png');
            background-size: 35px 35px;
            display: inline-block;
            width: 35px;
            height: 35px;
            content: "";
            position: absolute;
            top: 1rem;
            left: 1.25rem;
        }

        .rc-card.detail-available-rebates mat-card-content .description{
            border-top: 1px solid #D7D7D7;
            border-bottom: 1px solid #D7D7D7;
            padding: .5rem 0;
            margin-bottom: 8px;
        }
        .rc-card.detail-available-rebates mat-card-content .link-list{
            list-style: none;    
            padding-inline-start: 16px;
        }
        .rc-card.detail-available-rebates mat-card-content .link-list li a{
            color: var(--rc-primary-color) !important;
            cursor: pointer;
            margin-bottom: .5rem;
        }
        .rc-card.detail-available-rebates mat-card-content .link-list mat-icon{
            font-size: 16px;
            width: 16px;
            height: 20px;
            padding-top: 0px;
            transform: rotate(145deg);
        }
        .rc-card.detail-available-rebates mat-card-content .price-content{
            height: 100%;
        }
        .rc-card.detail-available-rebates mat-card-content .price{
            background-color: rgba(49, 120, 191, 0.13);
            border-radius: 4px;
            padding: 0.5rem 2rem 1rem 2rem;
            color: var(--rc-primary-color);
        }
    */