
<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
    <mat-stepper #stepper >
      <!-- paso 1 -->
      <mat-step  errorMessage="Equipment Size is required" formGroupName="equipment_size" [stepControl]="formGroup?.get('equipment_size')!">
  
          <!-- nombre del paso -->
          <ng-template matStepLabel>Equipment Size</ng-template>
  
          <!-- input -->
          <mat-form-field appearance="fill">
            <mat-label>Cooling tons</mat-label>
            <input matInput placeholder="Cooling tons" required  formControlName="cooling_tomsCtrl" >
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label> Heating BTUH</mat-label>
            <input matInput placeholder="Heating BTUH" required formControlName="heating_btuhCtrl" >
          </mat-form-field>
  
          <!-- button -->
          <div>
            <button type="button"  mat-button matStepperNext>Continue</button>
          </div>
        
      </mat-step>
      <!-- paso 1 end  -->
  
      <!-- paso 2 -->
      <mat-step  errorMessage="Energy Distrubution is required."  formGroupName="energy_distribution" [stepControl]="formGroup?.get('energy_distribution')!">
  
           <!-- nombre del paso -->
          <ng-template matStepLabel>Energy Distrubution</ng-template>
  
          <!-- radio button -->
          <mat-label>Energy Distrubution Method</mat-label>
          <br>
          <mat-radio-group #rGroup formControlName="methodCtrl" >
            <mat-radio-button [value]="'Central heat pumps'" radioGroup="rGroup">Central heat pumps</mat-radio-button>  <br>
            <mat-radio-button [value]="'Mini-split ducted & Multi splits'" radioGroup="rGroup">Mini-split ducted & Multi splits</mat-radio-button>  <br>
            <mat-radio-button [value]="'Mini-split heat pumps'" radioGroup="rGroup">Mini-split heat pumps</mat-radio-button>
          </mat-radio-group>

          <br>
         
          <!-- button -->
          <div>
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button"  mat-button matStepperNext>Continue</button>
          </div>
        
      </mat-step>
      <!-- paso 2 end -->

      <!-- paso 3 -->
      <mat-step  errorMessage="Furnace is required."  formGroupName="furnace" [stepControl]="formGroup?.get('furnace')!">
  
        <!-- nombre del paso -->
       <ng-template matStepLabel>Furnace</ng-template>

       <!-- radio button -->
       <mat-label>Furnace Fuel</mat-label>
       <br>
       <mat-radio-group #rGroup formControlName="fuelCtrl" >
        <mat-radio-button [value]="'gas'" radioGroup="rGroup">Gas</mat-radio-button>  <br>
        <mat-radio-button [value]="'oil'" radioGroup="rGroup">Oil</mat-radio-button>  <br>
        <mat-radio-button [value]="'none'" radioGroup="rGroup">None</mat-radio-button>
      </mat-radio-group>
      <br>
      
       <!-- button -->
       <div>
         <button type="button" mat-button matStepperPrevious>Back</button>
         <button type="button"  mat-button matStepperNext>Continue</button>
       </div>
     
      </mat-step>
      <!-- paso 3 end -->

      <!-- paso 4 -->
      <mat-step  errorMessage="Eligibility Detail is required." formGroupName="eligibility_detail" [stepControl]="formGroup?.get('eligibility_detail')!">
    
          <!-- nombre del paso -->
          <ng-template matStepLabel>Eligibility Details</ng-template>

          <!-- selects -->
          <mat-form-field appearance="fill"  >
            <mat-label>State</mat-label>
            <mat-select  #sGroup formControlName="stateCtrl">
                <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field appearance="fill"  >
            <mat-label>Electric Utility Provider</mat-label>
            <mat-select  #sGroup formControlName="electric_utitlity_providerCtrl">
                <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
            </mat-select>
          </mat-form-field>

          <br>

          <mat-form-field appearance="fill"  >
            <mat-label>Gas / Oil Utility</mat-label>
            <mat-select  #sGroup formControlName="gas_oil_utilityCtrl">
                <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
            </mat-select>
          </mat-form-field>

          <br>
          
          <!-- radio buttons -->
          <mat-label> Existing furnace type?</mat-label>
          <br>
          <mat-radio-group #rGroup formControlName="existen_furnace_typeCtrl" >
            <mat-radio-button [value]="'condensing'" radioGroup="rGroup">Condensing</mat-radio-button>  <br>
            <mat-radio-button [value]="'none - condensing'" radioGroup="rGroup">None - condensing</mat-radio-button>
          </mat-radio-group>

          <br> <br>

          <mat-label> HP System is the sole source of heat?</mat-label>
          <br>
          <mat-radio-group #rGroup formControlName="hpS_source_headCtrl" >
            <mat-radio-button [value]="'yes'" radioGroup="rGroup">Yes</mat-radio-button>  <br>
            <mat-radio-button [value]="'no'" radioGroup="rGroup">No</mat-radio-button>
          </mat-radio-group>


          <!-- button -->
          <!-- button -->
        <div>
          <button type="button" mat-button matStepperPrevious>Back</button>
          <button type="button" type="submit" mat-button matStepperNext>Continue</button>
        </div>
      </mat-step>
      <!-- paso 4 end  -->
  
      <!-- paso 5 -->
      <mat-step>
        <ng-template matStepLabel>AHRI Combinations</ng-template>
         <!-- table -->
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
          
              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Weight </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>
          
              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
            <!-- table end  -->
      </mat-step>
      <!-- paso 5 end -->
  
    </mat-stepper>
    
</form>
