<form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
  <mat-stepper linear #stepper>
    <!-- Step 1 -->
    <mat-step  errorMessage="Equipment Size is required" formGroupName="nominalSize" [stepControl]="formGroup?.get('equipment_size')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Equipment Size</h2>
          <!-- User input -->
          <div class="rc-column">

            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Cooling tons</mat-label>
              <input type="number" matInput placeholder="Cooling tons" required type="number" required  formControlName="coolingTons" >
            </mat-form-field>

            <br>

            <mat-form-field appearance="fill">
              <mat-label> Heating BTUH</mat-label>
              <input type="number" matInput placeholder="Heating BTUH" required type="number" required formControlName="heatingBTUH" >
            </mat-form-field>

            <!-- button -->
            <div class="nkn-center nkn-mt-medium">
              <button type="button" mat-flat-button color="primary"  matStepperNext>
                Continue
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
          </div>
        </div>
    </mat-step>
    <!-- Step 1 end  -->

    <!-- Step 2 -->
    <mat-step  errorMessage="Furnace is required."  >
      <!-- Name of step -->
     <ng-template matStepLabel>Furnace</ng-template>
      <!-- Content of step -->
      <div class="rc-content-flex rc-column">
        <h2 class="rc-main-title">Furnace</h2>
        <!-- User input -->
        <div class="rc-column">

            <!-- radio button -->
            <mat-label>Furnace Fuel</mat-label>
            <mat-radio-group #rGroup  formControlName="fuelSource" class="rc-radio-group">
              <mat-radio-button [value]="'Natural Gas'" radioGroup="rGroup">Natural Gas</mat-radio-button>
              <mat-radio-button [value]="'Propane'" radioGroup="rGroup">Propane</mat-radio-button>
              <mat-radio-button [value]="'Heating Oil'" radioGroup="rGroup">Heating Oil</mat-radio-button>
              <mat-radio-button [value]="'None'" radioGroup="rGroup">None</mat-radio-button>
            </mat-radio-group>

          <!-- button -->
          <div class="nkn-space-between nkn-mt-medium">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
          </div>
        </div>
     </div>
    </mat-step>
    <!-- Step 2 end -->

    <!-- Step 3 -->
    <mat-step  errorMessage="Location is required.">
      <!-- Name of step -->
      <ng-template matStepLabel> Location</ng-template>
      <!-- Content of step -->
      <div class="rc-content-flex rc-column">
        <h2 class="rc-main-title">Location </h2>
        <!-- User input -->
        <div class="rc-column">
          
          <!-- selects -->
          <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select (selectionChange)="changeState_electric($event)" (selectionChange)="changeState_gas($event)"  #sGroup formControlName="state">
                <mat-option *ngFor="let count of State" [value]="count.name" radioGroup="sGroup">
                  {{count.name}}
                </mat-option>
            </mat-select>
          </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Electric Utility Provider</mat-label>
              <mat-select  #sGroup formControlName="electricUtilityProvider">
                  <mat-option *ngFor ="let elec of electric" [value]="elec" radioGroup="sGroup">
                  {{elec}}
                  </mat-option>
              </mat-select>
            </mat-form-field>

            
              <mat-form-field *ngIf="GasOilUtility" appearance="fill"  >
                <mat-label>Gas / Oil Utility</mat-label>
                <mat-select  #sGroup formControlName="gasOilUtility">
                    <mat-option *ngFor ="let Gas of gas" [value]="Gas" radioGroup="sGroup">
                      {{Gas}}
                    </mat-option>
                </mat-select>
              </mat-form-field>

          <!-- button -->
          <div class="nkn-space-between nkn-mt-medium">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
          </div> 
        </div>
      </div>
    </mat-step>
    <!-- Step 3 end -->

    <!-- Step 4 -->
    <mat-step  errorMessage="Eligibility Detail is required.">
      <!-- Name of step -->
      <ng-template matStepLabel>Eligibility Details</ng-template>
      <!-- Content of step -->
      <div class="rc-content-flex rc-column">
        <h2 class="rc-main-title">Eligibility Details</h2>
        <!-- User input -->
        <div class="rc-column">
  
              <!-- radio buttons -->
            <mat-label> HP System is the sole source of heat?</mat-label>
            <mat-radio-group #rGroup formControlName="HPSoleSource" class="rc-radio-group">
              <mat-radio-button [value]="'Yes'" radioGroup="rGroup">Yes</mat-radio-button>
              <mat-radio-button [value]="'No'" radioGroup="rGroup">No</mat-radio-button>
            </mat-radio-group>

            <mat-label > Existing furnace type?</mat-label>
              <mat-radio-group #rGroup formControlName="existingFurnaceType" class="rc-radio-group">
              <mat-radio-button [value]="'Condensing'" radioGroup="rGroup">Condensing</mat-radio-button>
              <mat-radio-button [value]="'Non-condensing'" radioGroup="rGroup">None - condensing</mat-radio-button>
            </mat-radio-group>         

          <!-- button -->
          <div class="nkn-space-between nkn-mt-medium">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" type="submit" (click)="submitForm(formGroup.value)"  mat-raised-button matStepperNext color="primary">Continue</button>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- Step 4 end  -->

    <!-- results -->
    <mat-step >
      <ng-template matStepLabel>AHRI Combinations</ng-template>

      <h2 class="rc-main-title">AHRI Combinations</h2>

       <!-- product line -->
       <mat-radio-group aria-label="Select an option" class="example-radio-group">
        <mat-radio-button *ngFor="let productLine of productLines; let idx = index" [checked]="(idx === 0)" [value]="productLine.cc_system_definition_id" (click)="submitProductLine(productLine.cc_system_definition_id)"> {{productLine.title}}</mat-radio-button>
      </mat-radio-group>

        <div class="rc-table-container">
          <!-- table -->
          <app-results-help  [data]="data"></app-results-help>
        </div>

    </mat-step>
    <!-- results end -->

  </mat-stepper>
</form>
