thead tr {
  border: solid 1px var(--rc-primary-color);
}
thead tr th {
  background-color: var(--rc-primary-color);
  color: #fff;
}

tbody tr:hover {
  /* box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12); */
  box-shadow: var(--nkn-box-shadow);
}
.nkn-table tbody tr:nth-child(2n) {
  background-color: transparent;
}


@media (max-width: 768px) {
  table.nkn-vertical tr {
    box-shadow: var(--nkn-box-shadow);
  }
}

