<div fxLayout="row column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
  
    <!-- heating-cooling -->
    <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
      <mat-card class="rc-card h-ahri" routerLink="heating-cooling-r">
        <div class="icon" fxLayout fxLayoutAlign="center center">
          <img src="../../../../assets/images/icons/heating-and-cooling.png" class="rc-img" alt="">
          <img src="../../../../assets/images/icons/heating-and-cooling-active.png" class="rc-img-hide" alt="">
        </div>
        <mat-card-title>Heating and cooling</mat-card-title>
      </mat-card>
    </div>
  
    <!-- cooling-only -->
    <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
      <mat-card class="rc-card h-ahri" routerLink="cooling-only-r">
        <div class="icon" fxLayout fxLayoutAlign="center center">
          <img src="../../../../assets/images/icons/cooling-only.png" class="rc-img" alt="">
          <img src="../../../../assets/images/icons/cooling-only-active.png" class="rc-img-hide" alt="">
        </div>
        <mat-card-title>Cooling only</mat-card-title>
      </mat-card>
    </div> 
  </div>
  