<div fxLayout="row column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
  
    <!-- heating-cooling -->
    <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
      <mat-card class="rc-card h-ahri" routerLink="heating-cooling-r">
        <div class="icon" fxLayout fxLayoutAlign="center center">
          <mat-icon>brightness_6</mat-icon>
        </div>
        <mat-card-title>Heating and cooling</mat-card-title>
      </mat-card>
    </div>
  
    <!-- cooling-only -->
    <div fxFlex="33" fxFlex.sm="50" fxFlex.xs="100">
      <mat-card class="rc-card h-ahri" routerLink="cooling-only-r">
        <div class="icon" fxLayout fxLayoutAlign="center center">
          <mat-icon>ac_unit</mat-icon>
        </div>
        <mat-card-title>Cooling only</mat-card-title>
      </mat-card>
    </div> 
  </div>
  