<div fxLayout="row column" fxLayoutAlign="center stretch" fxLayoutGap="16px grid">
  
     <!-- heating-cooling -->
     <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
      <div class="rc-second-home-card" routerLink="heating-cooling-r" fxLayout="column" fxLayoutAlign="center center">
        <div class="icon" fxLayout fxLayoutAlign="center center" fxFlex="100">
          <img src="../../../../assets/images/icons/heating-and-cooling.png" class="unchecked" alt="">
          <img src="../../../../assets/images/icons/heating-and-cooling-active.png" class="checked" alt="">
        </div>
        <p fxFlex="100">Heating and cooling</p>
      </div>
    </div>
  
    <!-- cooling-only -->
    <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
      <div class="rc-second-home-card" routerLink="cooling-only-r" fxLayout="column" fxLayoutAlign="center center">
        <div class="icon" fxLayout fxLayoutAlign="center center" fxFlex="100">
          <img src="../../../../assets/images/icons/cooling-only.png" class="unchecked" alt="">
          <img src="../../../../assets/images/icons/cooling-only-active.png" class="checked" alt="">
        </div>
        <p fxFlex="100">Cooling only</p>
      </div>
    </div>
  
    <!-- model nrs -->
    <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
      <div class="rc-second-home-card" routerLink="i-know-model-nr" fxLayout="column" fxLayoutAlign="center center">
        <div class="icon" fxLayout fxLayoutAlign="center center" fxFlex="100">
          <img src="../../../../assets/images/icons/model-nrs.png" class="unchecked" alt="">
          <img src="../../../../assets/images/icons/model-nrs-active.png" class="checked" alt="">
        </div>
        <p fxFlex="100">I know my model nrs</p>
      </div>
    </div>
</div>
  