<div class="rc-hero-content">
  <section class="nkn-mb-medium">
    <h2 class="rc-main-title">SELECTED HVAC SYSTEM</h2>
    <div class="rc-content-flex">
      <mat-card class="rc-card-selected-hvac">
        <!-- <mat-card-title class="rc-card-title"></mat-card-title> -->
        <mat-card-content>
          <div class="nkn-space-between">
            <div>Outdoor unit</div>
            <div>{{detail.AHRIRatings[0].outdoor_unit}}</div>
          </div>
          <div class="nkn-space-between">
            <div>Indoor unit</div>
            <div>{{detail.AHRIRatings[0].indoor_unit}}</div>
          </div>
          <div class="nkn-space-between">
            <div>Furnace</div>
            <div>{{detail.AHRIRatings[0].furnace}}</div>
          </div>
          <div class="nkn-space-between">
            <div>Cooling capacity</div>
            <div>{{detail.AHRIRatings[0].cooling_capacity}}</div>
          </div>
          <div class="nkn-space-between">
            <div>SEER</div>
            <div>{{detail.AHRIRatings[0].seer}}</div>
          </div>
          <div class="nkn-space-between">
            <div>EER</div>
            <div>{{detail.AHRIRatings[0].eer}}</div>
          </div>
          <div class="nkn-space-between">
            <div>HSPF</div>
            <div>{{detail.AHRIRatings[0].hspf}}</div>
          </div>
          <div class="nkn-space-between">
            <div>HCap 47</div>
            <div>{{detail.AHRIRatings[0].hcap47}}</div>
          </div>
          <div class="nkn-space-between">
            <div>HCap 17</div>
            <div>{{detail.AHRIRatings[0].hcap17}}</div>
          </div>
          <div class="nkn-space-between">
            <div>AFUE</div>
            <div></div>
          </div>
          <div class="nkn-space-between">
            <div>BTUH</div>
            <div></div>
          </div>
          <div class="nkn-space-between">
            <div>AHRI reference nr</div>
            <div>{{detail.AHRIRatings[0].ahri_ref}}</div>
          </div>
        </mat-card-content>
      </mat-card>
      <!-- <img src="./assets/img/illustration-2.svg" alt="" class="illustration-2"> -->
    </div>
  </section>
  <section>
    <h2 class="rc-main-title">AVAILABLE REBATES</h2>
    <div class="rc-content-flex">
      <mat-card class="rc-card-rebate">
        <mat-card-title>Mass Save central AC / HP - Standard</mat-card-title>
        <mat-card-content>
          <p class="nkn-text-justify">
            Mass Save residential central AC and Heat Pump rebate.
            Qualifying units for equipment rebate must be purchased and installed between
            January 1, 2021, and December 31, 2021. Applications must be postmarked by
            January 31, 2022.
          </p>
        </mat-card-content>
        <mat-card-actions class="nkn-center">
          <button type="button"    mat-flat-button color="primary">
            Download Form
          </button>
          <a href="" color="primary" class="nkn-ml-large">More info</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
