
<form [formGroup]="formGroup" (ngSubmit)="submitForm(formGroup.value)">
    <mat-stepper linear #stepper >
      <!-- Step 1 -->
      <mat-step  errorMessage="Equipment Size is required" formGroupName="nominalSize" [stepControl]="formGroup?.get('equipment_size')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Equipment Size</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Cooling tons</mat-label>
              <input matInput placeholder="Cooling tons" required type="number"  formControlName="coolingTons" >
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label> Heating BTUH</mat-label>
              <input matInput placeholder="Heating BTUH" required type="number" formControlName="heatingBTUH" >
            </mat-form-field>

            <!-- button -->
            <div class="nkn-center nkn-mt-medium">
              <button type="button" mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 1 end  --> 

      <!-- Step 2 -->
      <mat-step  errorMessage="Furnace is required."  [stepControl]="formGroup?.get('furnace')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Furnace</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Furnace</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- radio button -->
            <mat-label>Furnace Fuel</mat-label>
            <mat-radio-group #rGroup formControlName="fuelSource" class="rc-radio-group">
              <mat-radio-button [value]="'Natural Gas'" radioGroup="rGroup">Gas</mat-radio-button>
              <mat-radio-button [value]="'Oil'" radioGroup="rGroup">Oil</mat-radio-button>
              <mat-radio-button [value]="'None'" radioGroup="rGroup">None</mat-radio-button>
            </mat-radio-group>

            <!-- button -->
            <div class="nkn-space-between nkn-mt-medium">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 2 end -->

    <!-- Step 3 -->
    <mat-step *ngIf="showfurnaceInfo" errorMessage="Eligibility Detail is required." formGroupName="eligibilityDetail" [stepControl]="formGroup?.get('eligibility_detail')!">
      <!-- Name of step -->
      <ng-template matStepLabel>Eligibility Details</ng-template>
      <!-- Content of step -->
      <div class="rc-content-flex rc-column">
        <h2 class="rc-main-title">Eligibility Details</h2>
        <!-- User input -->
        <div class="rc-column">
          <mat-form-field appearance="fill"  >
            <mat-label>Gas / Oil Utility</mat-label>
            <mat-select  #sGroup formControlName="gasOilUtility">
                <mat-option [value]="'Berkshire Gas'" radioGroup="sGroup"> Berkshire Gas </mat-option>
                <mat-option [value]="'Eversource'" radioGroup="sGroup"> Eversource  </mat-option>
                <mat-option [value]="'Liberty'" radioGroup="sGroup"> Liberty </mat-option>
                <mat-option [value]="'National Grid'" radioGroup="sGroup"> National Grid </mat-option>
                <mat-option [value]="'Unitil'" radioGroup="sGroup"> Unitil </mat-option>
                <mat-option [value]="'Other'" radioGroup="sGroup"> Other </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- radio buttons -->
          <mat-label> Existing furnace type?</mat-label>
          <mat-radio-group #rGroup formControlName="existingFurnaceType" class="rc-radio-group">
            <mat-radio-button [value]="'Condensing'" radioGroup="rGroup">Condensing</mat-radio-button>
            <mat-radio-button [value]="'Non-condensing'" radioGroup="rGroup">None - condensing</mat-radio-button>
          </mat-radio-group>
          <!-- button -->
          <div class="nkn-space-between nkn-mt-medium">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" type="submit" mat-raised-button matStepperNext color="primary">Continue</button>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- Step 3 end  -->

    <!-- results -->
    <mat-step>
      <ng-template matStepLabel>AHRI Combinations</ng-template>
      <h2 class="rc-main-title">AHRI Combinations</h2>

        <!-- product line -->
        <div *ngFor="let productLine of productLines; let i = index">
          <button type="button" (click)="submitProductLine(i)" mat-raised-button matStepperNext color="primary">
            {{productLine}}
          </button>
        </div>


        <div class="rc-table-container">
          <!-- table -->
          <app-results-par [data]="data"></app-results-par>
        </div>

    </mat-step>
    <!-- results end -->

    </mat-stepper>

  </form>
