
<form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
    <mat-stepper #stepper >
      <!-- Step 1 -->
      <mat-step  errorMessage="Equipment Size is required" formGroupName="equipment_size" [stepControl]="formGroup?.get('equipment_size')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Equipment Size</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Equipment Size</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- input -->
            <mat-form-field appearance="fill">
              <mat-label>Cooling tons</mat-label>
              <input matInput placeholder="Cooling tons" required  formControlName="cooling_tomsCtrl" >
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label> Heating BTUH</mat-label>
              <input matInput placeholder="Heating BTUH" required formControlName="heating_btuhCtrl" >
            </mat-form-field>

            <!-- button -->
            <div class="nkn-center nkn-mt-medium">
              <button type="button" mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 1 end  -->

      <!-- Step 2 -->
      <mat-step  errorMessage="Energy Distrubution is required."  formGroupName="energy_distribution" [stepControl]="formGroup?.get('energy_distribution')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Energy Distrubution</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Energy Distrubution</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- radio button -->
            <mat-label>Energy Distrubution Method</mat-label>
            <mat-radio-group #rGroup formControlName="methodCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'Central heat pumps'" radioGroup="rGroup">Central heat pumps</mat-radio-button>
              <mat-radio-button [value]="'Mini-split ducted & Multi splits'" radioGroup="rGroup">Mini-split ducted & Multi splits</mat-radio-button>
              <mat-radio-button [value]="'Mini-split heat pumps'" radioGroup="rGroup">Mini-split heat pumps</mat-radio-button>
            </mat-radio-group>

            <!-- button -->
            <div class="nkn-space-between nkn-mt-medium">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 2 end -->

      <!-- Step 3 -->
      <mat-step  errorMessage="Furnace is required."  formGroupName="furnace" [stepControl]="formGroup?.get('furnace')!">
        <!-- Name of step -->
        <ng-template matStepLabel>Furnace</ng-template>
        <!-- Content of step -->
        <div class="rc-content-flex rc-column">
          <h2 class="rc-main-title">Furnace</h2>
          <!-- User input -->
          <div class="rc-column">
            <!-- radio button -->
            <mat-label>Furnace Fuel</mat-label>
            <mat-radio-group #rGroup formControlName="fuelCtrl" class="rc-radio-group">
              <mat-radio-button [value]="'gas'" radioGroup="rGroup">Gas</mat-radio-button>
              <mat-radio-button [value]="'oil'" radioGroup="rGroup">Oil</mat-radio-button>
              <mat-radio-button [value]="'none'" radioGroup="rGroup">None</mat-radio-button>
            </mat-radio-group>

            <!-- button -->
            <div class="nkn-space-between nkn-mt-medium">
              <button type="button" mat-button matStepperPrevious>Back</button>
              <button type="button"  mat-raised-button matStepperNext color="primary">Continue</button>
            </div>
          </div>
        </div>
      </mat-step>
      <!-- Step 3 end -->

    <!-- Step 4 -->
    <mat-step  errorMessage="Eligibility Detail is required." formGroupName="eligibility_detail" [stepControl]="formGroup?.get('eligibility_detail')!">
      <!-- Name of step -->
      <ng-template matStepLabel>Eligibility Details</ng-template>
      <!-- Content of step -->
      <div class="rc-content-flex rc-column">
        <h2 class="rc-main-title">Eligibility Details</h2>
        <!-- User input -->
        <div class="rc-column">
          <mat-form-field appearance="fill"  >
            <mat-label>Gas / Oil Utility</mat-label>
            <mat-select  #sGroup formControlName="gas_oil_utilityCtrl">
                <mat-option [value]="'MA'" radioGroup="sGroup"> MA </mat-option>
                <mat-option [value]="'ME'" radioGroup="sGroup"> ME  </mat-option>
                <mat-option [value]="'NH'" radioGroup="sGroup"> NH </mat-option>
                <mat-option [value]="'RI'" radioGroup="sGroup"> RI </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- radio buttons -->
          <mat-label> Existing furnace type?</mat-label>
          <mat-radio-group #rGroup formControlName="existen_furnace_typeCtrl" class="rc-radio-group">
            <mat-radio-button [value]="'condensing'" radioGroup="rGroup">Condensing</mat-radio-button>
            <mat-radio-button [value]="'none - condensing'" radioGroup="rGroup">None - condensing</mat-radio-button>
          </mat-radio-group>
          <!-- button -->
          <div class="nkn-space-between nkn-mt-medium">
            <button type="button" mat-button matStepperPrevious>Back</button>
            <button type="button" type="submit" mat-raised-button matStepperNext color="primary">Continue</button>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- Step 4 end  -->

    <!-- results -->
    <mat-step>
      <ng-template matStepLabel>AHRI Combinations</ng-template>
      <h2 class="rc-main-title">AHRI Combinations</h2>

        <div class="rc-table-container">
          <!-- table -->
          <app-results-par [data]="data"></app-results-par>
        </div>

    </mat-step>
    <!-- results end -->

    </mat-stepper>

  </form>
