<div class="rc-hero-content">
  <h1 class="rc-main-title">Rebates</h1>
  <div class="rc-content-flex">
    <mat-card class="rc-card-home">
      <img src="./assets/img/whole-house.svg" alt="icon Mass Save whole house HP rebate" class="rc-card-img">
      <mat-divider class="rc-divider"></mat-divider>
      <!-- <mat-card-title>Mass Save whole house HP rebate</mat-card-title> -->
      <mat-card-content>
        <p>
          Find AHRI combinations that qualify for the <span class="green">$10,000 Mass Save whole house HP rebate.</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/WholeHouseHP" mat-stroked-button>
          Find rebate
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="rc-card-home">
      <img src="./assets/img/partial-home.svg" alt="Icon Mass Save partial home / supplemental HP rebate" class="rc-card-img">
      <mat-divider class="rc-divider"></mat-divider>
      <!-- <mat-card-title>Mass Save partial home / supplemental HP rebate</mat-card-title> -->
      <mat-card-content>
        <p>
          Find AHRI combinations that qualify for the <span class="green">Mass Save partial home /" supplemental HP rebate.</span>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/PartialSupplementalHP" mat-stroked-button>
          Find rebate
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="rc-card-home">
      <img src="./assets/img/AHRI-matchups.svg" alt="Icon AHRI matchups" class="rc-card-img">
      <mat-divider class="rc-divider"></mat-divider>
      <!-- <mat-card-title>AHRI matchups</mat-card-title> -->
      <mat-card-content>
        <p>
          AHRI matchups and rebates other than Mass Save HP.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button routerLink="/AHRIMatchups" mat-stroked-button>
          Find rebate
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
