.rc-card-home {
  width: 300px;
  height: 275px;
  margin: .5rem;
  text-align: center;
}

.mat-card-title {
  width: 268px;
  font-size: 1.25rem;
}
.rc-card-img {
  padding: .5rem;
  width: 55px;
  height: 54px;
}

