.rc-card-home {
  height: 331.5px;
  margin: .5rem;
  text-align: center;
}


@media (max-width: 320px) {
  .rc-card-home {
    width: 280px;
  }
}

@media (min-width: 321px) {
  .rc-card-home {
    width: 300px;
  }
}

.rc-card-home.mat-card {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* .mat-card-title {
  width: 268px;
  font-size: 1.25rem;
  font-weight: 100;
}
.mat-card-title:not(:first-child) {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
} */
.rc-card-img {
  padding: .5rem;
  width: 100px;
  height: 100px;
  color: red;
}
.rc-card-home .mat-card-content p {
  margin: 1.75rem 2rem 1rem 2rem;
  text-align: center;
  height: 80px;
  font-weight: lighter;
}

.rc-card-home .mat-card-actions button {
  border-radius: 30px;
  color: var(--rc-primary-color);
  border: solid 1px var(--rc-primary-color);
  text-transform: uppercase;
}
.rc-card-home .mat-card-actions button:hover {
  background-color: var(--rc-primary-color);
  color: #fff;
}
.rc-divider.mat-divider {
  border-top-color: var(--rc-primary-color);
  border-top-width: 3px;
  border-radius: 30px;
}

.rc-divider.mat-divider-horizontal {
  width: 100px;
  left: 34%;
}

.green {
  color: #4b8406;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 16px;
}
