<div class="rc-hero-content">
  <h1 class="rc-main-title">Rebates</h1>
  <div class="rc-content-flex">
    <mat-card class="rc-card rc-card-home">
      <div class="rc-img">
        <img src="./assets/img/whole-house.svg" alt="icon Mass Save whole house HP rebate" class="rc-card-img">
        <img src="./assets/img/energy-clean.png" alt="" class="rc-right-top">
      </div>
      <mat-divider class="rc-divider"></mat-divider>
      <mat-card-title class="rc-card-title">Mass Save whole house HP rebate</mat-card-title>
      <mat-card-content class="rc-card-content">
        <p>
          Find AHRI combinations that qualify for the <span class="green">$10,000</span> Mass Save whole house HP rebate.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/WholeHouseHP" mat-flat-button color="primary">
          Find rebate
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="rc-card rc-card-home">
      <div class="rc-img">
        <img src="./assets/img/energy-clean.png" alt="" class="rc-right-top">
        <img src="./assets/img/partial-home.svg" alt="Icon Mass Save partial home / supplemental HP rebate" class="rc-card-img">
      </div>
      <mat-divider class="rc-divider"></mat-divider>
      <mat-card-title class="rc-card-title">Mass Save partial home / supplemental HP rebate</mat-card-title>
      <mat-card-content class="rc-card-content">
        <p>
          Find AHRI combinations that qualify for the Mass Save partial home /" supplemental HP rebate.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="/PartialSupplementalHP" mat-flat-button color="primary">
          Find rebate
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="rc-card rc-card-home">
      <img src="./assets/img/AHRI-matchups.svg" alt="Icon AHRI matchups" class="rc-card-img">
      <mat-divider class="rc-divider"></mat-divider>
      <mat-card-title class="rc-card-title">AHRI matchups <br> rebates</mat-card-title>
      <mat-card-content class="rc-card-content">
        <p>
          AHRI matchups and rebates other than Mass Save HP.
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button routerLink="/AHRIMatchups" mat-flat-button color="primary">
          Find rebate
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
