/* You can add global styles to this file, and also import other style files */
:root {
  --rc-primary-color: #073c78;
  --rc-accent-color: #E4D340;
  --rc-warn-color: #c70000;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Nunito', sans-serif; }

/*Container page*/
/* Small */
.rc-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 62px;
}

/* Medium */
@media (min-width: 768px) and (max-width: 991px){
  .rc-container {
    width: 720px;
  }
}

/* Large */
@media (min-width: 992px) and (max-width: 1199px){
  .rc-container {
    width: 960px;
  }
}

/* Extra large  */
@media (min-width: 1200px) {
  .rc-container {
    width: 1140px;
  }
}
 /*End container page*/

/*Customizing Stepper */
.mat-horizontal-stepper-header-container {
  margin: 1.5rem 0;
}
@media (max-width: 767px) {
  .mat-step-header .mat-step-label {
    display: none;
  }
}
/*End Customizing Stepper */

/*Customizing form*/
.mat-form-field {
  width: 327px;
}
/*End customizing form*/

/*Main title of page*/
.rc-main-title{
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--rc-primary-color);
}
/*End Main title of page*/

/*general styles of each view*/
a {
  text-decoration: none;
}
.rc-step-title {
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--rc-primary-color);
}

.rc-step-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.radio-group > mat-radio-button {
  margin: 5px;
}

.table-container {
  overflow: auto;
}

th.mat-header-cell{
  padding: 0 .5rem;
}

table {
  width: 100%;
}

table .rc-row:hover {
  background-color: #E4D340;
}

.rc-control-button {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
  min-width: 200px;
}

.rc-center {
  text-align: center;
}
/*End general styles of each view*/

 /* * {
  outline: solid 1px red;
} */
