/* You can add global styles to this file, and also import other style files */
:root {
  /* color palete */
  --rc-primary-color: #073c78;
  --rc-accent-color: #E4D340;
  --rc-warn-color: #c70000;
  /*end color palete */
  --rc-height-header: 56px;
}

@media (min-width: 768px){
  :root {
    --rc-height-header: 88px;
  }
}

@media (min-width: 992px){
  :root {
    --rc-height-header: 104px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Nunito, sans-serif;
}

.rc-hero-content{
  margin: .5rem 0;
}

@media (min-width: 375px) {
  .rc-hero-content{
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {
  .rc-hero-content{
    margin: 1.5rem 0;
  }
}

@media (min-width: 1024px) {
  .rc-hero-content{
    margin: 3.5rem 0;
  }
}
/*Customizing Stepper */
.mat-horizontal-stepper-header-container {
  margin: .5rem 0;
}
/* .mat-horizontal-stepper-header::before, .mat-horizontal-stepper-header::after, .mat-stepper-horizontal-line {
  border: solid 1px #E4D340;
} */
@media (min-width: 375px) {
  .mat-horizontal-stepper-header-container {
    margin: 1rem 0;
  }
}

@media (min-width: 992px) {
  .mat-horizontal-stepper-header-container {
    margin: 1.5rem 0;
  }
}

@media (max-width: 767px) {
  .mat-step-header .mat-step-label {
    display: none;
  }
}
/*End Customizing Stepper */

/*Main title of page*/
.rc-main-title{
  text-align: center;
  font-size: 1.75rem;
  text-transform: uppercase;
  color: var(--rc-primary-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rc-main-title::after{
  content: '';
  border-bottom: solid 3px #E4D340;
  width: 100px;
}
/*End Main title of page*/

/*Width for input, radio, select*/
.rc-column > * {
  width: 240px;
}
@media (min-width: 375px) {
  .rc-column > * {
    width: 295px;
  }
}
/*End width for input, radio, select*/

/*Style for radio input*/
.rc-radio-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 18.8125px;
}

.rc-radio-group > * {
  margin: 5px;
}
/*End style for radio input*/

/*general styles of each view*/
a {
  text-decoration: none;
}

.rc-content-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rc-column {
  display: flex;
  flex-direction: column;
}

.rc-card-rebate,
.rc-card-selected-hvac {
  width: 300px;
  margin: .5rem;
}

/*End general styles of each view*/



