.rc-footer {
  background-color: #F5F7F9;
  padding: 1rem;
  font-size: 11px;
  color: #5F6368;
  letter-spacing: .08rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 0;
  text-align: center;
}
